@font-face {
  font-family: gveret-levin;
  src: url(/src/assets/fonts/gveret-levin/gveret-levin-regular.ttf);
}

@font-face {
  font-family: rubik-regular;
  src: url(/src/assets/fonts/rubik/Rubik-Regular.ttf);
}