.calculator {

    &.max-price {
        
        h1 {
            color: var(--text);
            padding: 0;
            margin: 42px 0 20px;
            font-size: 24px;
            font-weight: bold;
            height: 24px;
        }

        .form {
            @include container;
            width: 100%;
            margin-bottom: 35px;
            
            article {
                &:not(:nth-child(1)) {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));    
                }
                
                .property-field {
                    span {
                        line-height: 30px;
                    }
        
                    &.percent {
                        span {
                            line-height: normal;
                        }
                    }
                }
        
                &:nth-child(1) {
                    @include inside-container;
                    width: 250px;
                    height: 100px;
                    text-align: center;
                    display: grid;
                    padding: 18px 10px;
                    margin: 0 auto 20px;

                    h2 {
                        color: var(--calculator-result-text);
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 16px;
                    }
                }

                &:nth-child(2) {
                    *:nth-child(3), *:nth-child(4) { 
                        &.property-field {
                            span {
                                line-height: 16px;
                            }
                        }
                    }
                }
    
                &:nth-child(4) {
                    *:nth-child(2), *:nth-child(4) {
                        &.property-field {
                            span {
                                line-height: 16px;
                            }
                        }
                    }
                }

                &:nth-child(6) {
                    *:nth-child(1), *:nth-child(2) {
                        &.property-field {
                            span {
                                line-height: 16px;
                            }
                        }
                    }
                }

                &:nth-child(8) {
                    h3 {
                        grid-column: 1 / -1;
                    }
                }
    
                &:nth-child(10) {
                    *:nth-child(1), *:nth-child(4) {
                        &.property-field {
                            span {
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
    
        @include tablet-layout {   
            
        }

        @include tablet-small-layout {   
            & {
                .form {
                    article {
                        &:not(:nth-child(1)) {
                            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                        }

                        .property-field.dropdown .custom-dropdown,
                        .property-field.dropdown .custom-dropdown .dropdown-toggle,
                        .property-field div input {
                            width: 160px;
                        }
                        
                        

                        &:nth-child(8) {
                            *:nth-child(3), *:nth-child(4) { 
                                &.property-field {
                                    span {
                                        line-height: 16px;
                                        width: 57px;
                                        margin-left: 30px;
                                    }

                                    
                                }
                            }
                        }
                    }
                }
            }    
            
        }

        @include mobile-layout {
            & {
                grid-column: 1 / -1;
                margin: 20px;
                
                h1 {
                    font-size: 22px;
                    height: auto;
                    margin: 0 0 20px;
    
                    &.loading0 { width: calc(100% - 40px); }
                }
    
                .form {
                    box-shadow: unset;
                    max-width: unset;
                    padding: 0;
                    margin-bottom: 0;
                }
            }
        } 
    }
    
}


.main-layout.wide, .main-layout.widing, .main-layout.narrowing {
    @include tablet-layout {
        .calculator {
            &.max-price {
                .form {
                    article {
                        &:not(:nth-child(1)) {
                            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                        }

                        .property-field.dropdown .custom-dropdown,
                        .property-field.dropdown .custom-dropdown .dropdown-toggle,
                        .property-field div input {
                            width: 160px;
                        }
                    }
                }
            }
        }
    }

    @include tablet-small-layout {
        .calculator {
            &.max-price {
                .form {
                    article {
                        &:not(:nth-child(1)) {
                            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                        }

                        .property-field.dropdown .custom-dropdown,
                        .property-field.dropdown .custom-dropdown .dropdown-toggle,
                        .property-field div input {
                            width: 115px;
                        }
                    }
                }
            }
        }
    }
}