.calculator {

    &.max-price {
        
        h1 {
            color: var(--text);
            padding: 0;
            margin: 42px 0 20px;
            font-size: 24px;
            font-weight: bold;
            height: 24px;
        }

        .form {
            @include container;
            width: 100%;
            margin-bottom: 35px;
            
            article {
                &:not(:nth-child(1)) {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));    
                }
                
                .property-field {
                    span {
                        line-height: 30px;
                    }
        
                    &.percent {
                        span {
                            line-height: normal;
                        }
                    }
                }
        
                &:nth-child(1) {
                    @include inside-container;
                    width: 250px;
                    height: 100px;
                    text-align: center;
                    display: grid;
                    padding: 18px 10px;
                    margin: 0 auto 20px;

                    h2 {
                        color: var(--calculator-result-text);
                        font-weight: bold;
                    }

                    h3 {
                        font-size: 16px;
                    }
                }

                &:nth-child(2) {
                    *:nth-child(3), *:nth-child(4) { 
                        &.property-field {
                            span {
                                line-height: 16px;
                            }
                        }
                    }
                }
    
                &:nth-child(4) {
                    *:nth-child(2), *:nth-child(4) {
                        &.property-field {
                            span {
                                line-height: 16px;
                            }
                        }
                    }
                }

                &:nth-child(6) {
                    *:nth-child(1), *:nth-child(2) {
                        &.property-field {
                            span {
                                line-height: 16px;
                            }
                        }
                    }
                }
    
                &:nth-child(10) {
                    *:nth-child(1), *:nth-child(4) {
                        &.property-field {
                            span {
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
    
        @include tablet-layout {
    
            & {
                grid-template-columns: 20px 1fr 20px;
                padding-top: 45px;
            }
    
            .form {
                width: 100%;
                grid-template-columns: 1fr 1fr;
                display: grid;
                grid-auto-flow: column;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 0;
    
                h3:nth-child(1), h2:nth-child(2) {
                    grid-column: 1 / -1;
                }

                *:nth-child(n+3):nth-child(-n+5),
                *:nth-child(7),
                *:nth-child(n+13):nth-child(-n+16),
                *:nth-child(n+17):nth-child(-n+23) {
                    grid-column: 1;
                }

                *:nth-child(8), *:nth-child(23) {
                    display: none;
                }

                *:nth-child(n+5):nth-child(-n+6),
                *:nth-child(n+9):nth-child(-n+12),
                *:nth-child(n+24) {
                    grid-column: 2;
                }
    
                h3 {
                    line-height: 44px;
                }
    
                hr {
                    height: 1px;
                    width: calc(100% - 40px);
                }
            }
    
            .data {
                grid-column: 1;
                padding-right: 0;
    
                & > section {
                    display: none;
                }
            }
            
        }
    
        @include mobile-layout {
            & {
                grid-template-columns: 20px 1fr 20px;
                padding-top: 20px;
            }
    
            .form {
                width: 100%;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 0;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 60px;
    
                .property-field {
                    margin: 7px 20px;
    
                    &.searchable-dropdown {
                        div {
                            position: static;
    
                            ul {
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                border: 1px solid var(--mobile-form-spinner-border);
                                width: calc(100% - 80px);
                                height: 200px;
                                border-radius: 4px;
                            }
                        }
                    }
    
                    &.warning {
                        span {
                            margin-right: 0;
                            width: 126px;
                        }
    
                        div {
                            input {
                                margin-right: 1px;
                                width: calc(100% - 17px);
                            }
                        }
                    }

                    .number-picker {
                        width: 126px;
                    }
                }
    
                hr {
                    margin: 20px 21px;
                }
    
                h3 {
                    margin: 0 10px;
                }
    
                *:nth-child(7), *:nth-child(33)  {
                    &.property-field {
                        span {
                            line-height: 16px;
                        }
                    }
                }

                *:nth-child(11):has(u), *:nth-child(14):has(u)  {
                    &.property-field {
                        span {
                            line-height: 30px;
                        }
                    }
                }

                *:nth-child(11):has(u) {
                    &.property-field {
                        span {
                            line-height: 16px;

                            u {
                                display: block;
                            }
                        }
                    }
                }
            }
    
            .data {
                grid-column: 1;
                position: absolute;
                top: calc(50% - 43px);
                right: 60px;
    
                section {
                    display: none;
                    
                    .title {
                        display: none;
                    }
    
                    .rc-table {
                        height: 100vw;
    
                        table {
                            width: auto;
                            height: calc(100% - 86px);
    
                            td {
                                word-break: normal;
                            }
    
                            th, td {
                                word-break: normal;
                                background-color: var(--mobile-table-cell-background);
                            }
                        }
                    }
                }
            }
    
            .menu {
                background-color: var(--mobile-property-menu-background);
                padding: 0 20px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 10px;
                position: fixed;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 88px;
    
                &.no-mortgage {
                    grid-template-columns: 1fr 1fr;
                    padding: 0 50px;
                }
    
                article {
                    text-align: center;
                    margin: 10px auto;
                    max-width: 100px;
                    padding-right: 4px;
    
                    h3 {
                        color: var(--mobile-property-menu-text);
                        font-size: 16px;
                        font-weight: normal;
                        margin: auto;
                        text-align: center;
                        word-spacing: 100px;
    
                        &.label-on {
                            color: var(--mobile-property-menu-text-selected);
                        }
                    }
    
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
    
                & > img {
                    position: absolute;
                    top: calc(50% - 12px);
                    right: 15px;
                }
    
                &.side {
                    transform: rotate(-90deg);
                    transform-origin: left;
                    width: 100vw;
                    height: 88px;
                    overflow: hidden;
                    right: calc(-50%);
                    bottom: -44px;
                    padding: 0 40px 0 20px;
    
                    article {
                        transform: rotate(90deg);
                    }
    
                    .zoom-out {
                        color: var(--mobile-property-menu-zoom-out);
                        position: absolute;
                        margin: 30px 11px;
                    }
                }
    
                &.bottom {
                    .zoom-out {
                        display: none;
                    }
                }
            }
    
            &.show-mobile-data {
                .form {
                    display: none;
                }
    
                &.yield-forecast .data .yield-forecast,
                &.amortization-schedule .data .amortization-schedule {
                    display: inline;
                    position: fixed;
                }

            }
        }
    }
    
}
