.home {
    background-color: var(--background);

    h1 {
        color: var(--text);
        padding: 0;
        margin: rem(42px) 0 rem(20px);
        font-size: rem(24px);
        font-weight: bold;
        height: rem(24px);

        font {
            color: var(--text);
        }

        &.loading0 { background-color: var(--loading-0); width: rem(370px);}
    }

    h2 {
        color: var(--text);
        padding: 0;
        margin: rem(20px) 0;
        font-size: rem(18px);
        font-weight: bold;
        height: rem(24px);

        b {
            font {
                color: var(--text);
            }
        }

        &.loading0 { background-color: var(--loading-0); width: rem(240px);}
    }

    .my-cities {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(240px), 1fr));
        grid-gap: rem(20px);

        & > article {
            @include container;
            width: 100%;
            max-width: rem(240px);
            height: rem(62px);
            font-size: rem(16px);
            align-items: center;
            display: inline-flex;
            margin: 0 0 rem(15px);
            padding: rem(15px);

            div:hover {
                transform: scale(105%);
                cursor: default;
            }

            &.selected {
                div {
                    font-weight: bold;

                    &:hover {
                        transform: scale(100%);
                        cursor: none;
                    }
                }
            }

            &.loading0 { animation: loading0-animation 3s infinite ; span { display: none; }}
            &.loading1 { animation: loading1-animation 3s infinite ; span { display: none; }}
            &.loading2 { animation: loading2-animation 3s infinite ; span { display: none; }}
            &.loading3 { animation: loading3-animation 3s infinite ; span { display: none; }}
            
            img {
                width: rem(25px);
                height: auto;
            } 

            div {
                margin-right: rem(7px);

                span {
                    margin-right: rem(7px);
                    font-size: rem(14px);
                }
            }
        }
    }

    .my-properties {
        
        & > article {
            @include container;
            width: 100%;
            height: rem(134px);
            margin: 0 0 rem(20px);
            padding: rem(17px);
            position: relative;
            
            & > .container {
                display: grid;
                grid-template-columns: rem-capped(177px, 320px) 1fr 120px;
                grid-template-rows: 1fr;
                
                & > .media {
                    img {
                        grid-column: 1;
                        width: rem(150px);
                        height: rem(100px);
                        border-radius: 8px;
                        object-fit:cover;
                    }
                }

                & > .details {
                    grid-column: 2;
                    display: grid;
                    grid-template-columns: rem-capped(230px, 296px) 1fr;
                    
                    & > div:nth-child(1) {
                        grid-column: 1;
                        padding-left: rem(10px);
                        
                        & > h2 {
                            margin: 0;
                            padding: 0;
                            background: transparent;
                            font-size: rem(16px);
                            font-weight: normal;
                            height: rem(21px);

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis; 
                        }
    
                        & > .price {
                            color: var(--home-my-property-price-text);
                            font-size: rem(14px);
                        }
                    }

                    & > div:nth-child(2) {
                        grid-column: 2;
                        padding-right: rem(10px);
                        border-right: 1px solid var(--home-my-property-separator);

                        & > .note {
                            color: var(--home-my-property-price-text);
                            font-size: rem(14px);
                            max-height: rem(100px);
                            overflow: auto;

                            &::-webkit-scrollbar {
                                width: 0;
                            }
                        }
                    }
                }

                & > .actions {
                    grid-column: 3;
                    position: relative;

                    & > .indications {
                        svg {
                            float: left;
                            margin: 0 rem(2px) rem(2px) 0;
                            
                            &[data-testid="WorkspacePremiumIcon"] {
                                fill: var(--icon-medal);
                            }
                            
                            &[data-testid="RuleIcon"] {
                                fill: var(--icon-miss-content);
                                width: rem(20px);
                                height: rem(20px);
                            }
                        }
                    }

                    & > .actions {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        
                        svg {
                            width: rem(20px);
                            height: rem(20px);
                            fill: var(--icon-color); 
                        }

                        &.disabled {
                            svg {
                                fill: var(--icon-disabled);
                            }   
                        }
                    }
                }
            }

            &.before-deleting {
                .container {
                    opacity: 0.3;
                }
            }

            & > .delete-overlay {
                background-color: var(--home-my-property-delete-overlay-background);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: rem(134px);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;

                & > div {
                    height: rem(134px);
                    text-align: center;

                    .buttons {
                        display: inline-flex;

                        .button {
                            margin: 0;
                        }
                    }

                    
                }
               
            }

            &:not(.before-deleting, .deleting) {
                .delete-overlay {
                    display: none;
                }
            } 

            &.before-deleting, &.deleting {
                .container {
                    & > img, & > div {
                        opacity: 30%;
                    }
                }
            } 

            &.loading0 { animation: loading0-animation 3s infinite }
            &.loading1 { animation: loading1-animation 3s infinite }
            &.loading2 { animation: loading2-animation 3s infinite }
            &.loading3 { animation: loading3-animation 3s infinite }
            &.loading4 { animation: loading4-animation 3s infinite }
            &.loading5 { animation: loading5-animation 3s infinite; display: none; }
        }
    }

    .best-yields {
        @include container;
        width: 100%;
        margin: 0 0 rem(20px);
        padding: rem(17px);

        h2 {
            height: rem(24px);
            font-size: rem(16px);
            font-weight: normal;
            &.loading0 { background-color: var(--loading-0); width: rem(240px);}
        }

        .no-data {
            margin: 0 rem(20px);
        }

        & > div {
            display: grid;
            grid-gap: rem(10px);

            .data {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                & > article {
                    @include inside-container;
                    width: rem(150px);
                    height: rem(150px);
                    text-align: center;
                    display: grid;
                    grid-template-rows: rem(43px) rem(25px) rem(25px);
                    padding: rem(18px) rem(10px);
                    margin: 0 rem(6px) rem(20px);

                    img {
                        grid-row: 1;
                        height: rem(32px);
                        margin: 0 auto;
                    }

                    h3 {
                        grid-row: 2;
                        margin: 0 auto;
                        font-size: rem(13px);
                        font-weight: normal;
                    }

                    span {
                        grid-row: 3;
                        font-size: rem(20px);
                        font-weight: bold;
                        margin: 6px auto 0;
                    }

                    

                    &.loading0 { animation: loading0-animation 3s infinite }
                    &.loading1 { animation: loading1-animation 3s infinite }
                    &.loading2 { animation: loading2-animation 3s infinite }
                    &.loading3 { animation: loading3-animation 3s infinite }
                }
            }
    
            .chart {
                margin-bottom: rem(20px);

                &.loading4 { background-color: var(--loading-4); height: rem(474px); margin: rem(32px) rem(6px) rem(28px); }
            }   
        } 
        
        .no-yields {
            text-align: center;
            display: block;

            h3 {
                padding-top: rem(60px);
                font-size: rem(24px);
            }

            img {
                padding-top: rem(20px);
                padding-bottom: 20;
            }

            svg {
                width: rem(300px)!important;
                height: rem(300px)!important;
            }
        }

        .loading {
            margin: 20px auto;

            svg {
                width: rem(50px);
                height: rem(50px);
                fill: var(--loading-dark);
                animation-name: loading;
                animation-duration: .8s;
                animation-iteration-count: infinite;
                animation-timing-function: steps(8,end);  
            }
        }
    }

    .hide {
        display: none;
    }

    &.start {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 504px 1fr;

        & > div {
            grid-column: 1 / -1;
            margin-top: rem(10px);
        }

        & > .promotion {
            grid-column: 1 / -1;
        }

        & > img {
            grid-column: 1;
            width: 504px;
            height: 504px;
        }

        & > section {
            grid-column: 2;
            display: inline-block;
            width: 555px;
            
            h2 {
                font-size: rem-capped(64px, 80px);
                font-weight: bold;
                padding: 0;
                margin: 0 auto;
                text-align: center;
                width: 468px;
                height: 88px;
            }

            h3, h4 {
                color: var(--home-lets-start-title-text);
                padding: 0;
                margin: 27px auto 31px;
                text-align: center;
                width: 468px;
            }

            h3 {
                font-size: rem-capped(24px);
                font-weight: bold;
            }
            
            h4 {
                a {
                    font-weight: bold;
                    text-decoration: none;
                    cursor: default;
                }
            }

            hr {
                border-top: 1px solid var(--home-lets-start-divider);
                margin: 16px 0;
            }

            .button.long {
                margin: 41px auto 20px;
                
                button {
                    width: 468px;
                }
                
            }
        }

    }

    @include tablet-layout {
        & {
            overflow-x: hidden;
            overflow-y: auto;
            height: fit-content;
        }
        
        .my-cities {
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll;
            
            article {
                div {
                    width: rem(150px);
                }
            }
        }

        .my-properties {
            & > article {
                padding: 17px;
                height: calc(rem(100px) + 34px);

                & > .container {
                    height: rem(100px);
                    grid-template-columns: rem-capped(130px, 248px) 1fr rem(40px);

                    & > .media {
                        img {
                            width: rem-capped(120px, 228px);
                            height: rem-capped(80px, 152px);
                        }
                    }
                }
            }
        }

        &.start {
            grid-template-columns: 1fr;
            grid-template-rows: 90px 50px 1fr;
            height: 100vh;

            & > div {
                margin-top: 0;
            }

            & > section {
                display: grid;
                grid-column: 1;
                width: 100%;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 80px 20px 1fr 20px 1fr;
                margin: auto;
            
                h2 {
                    grid-column: 1 / -1;
                    grid-row: 1;
                }
    
                h3 {
                    grid-column: 2;
                    align-items: center;
                    margin: auto;
                    width: 300px;
                    display: flex;
                    grid-row: 3;
                }
    
                img {
                    grid-column: 1;
                    grid-row: 3 / -1;
                    width: 354px;
                    height: 354px;
                    margin: auto;
                }
        
                hr {
                    border: 0;
                    border-bottom: 1px solid var(--home-lets-start-divider);
                    
                    &:nth-of-type(1) {
                        grid-column: 1 / -1;
                        grid-row: 2;
                    }

                    &:nth-of-type(2) {
                        grid-column: 2;
                        grid-row: 4;
                    }

                }
    
                .button.long {
                    grid-column: 2;
                    grid-row: 5;

                    button {
                        width: -webkit-fill-available;
                    }
                }
            }
    
        }
    }

    @media (min-width: 851.1px) and (max-width: 996px) {
		.my-properties {
            & > article {
                padding: 17px;
                height: calc(rem(80px) + 34px);

                & > .container {
                    grid-template-columns: rem-capped(130px, 244px) 1fr rem(40px);
                    height: rem(80px);

                    & > .details {
                         grid-template-columns: unset;
                         grid-template-rows: 1fr 1fr;

                         div {
                            &:nth-child(1) {
                                grid-column: unset;
                                grid-row: 1;
                                height: rem(40px);
                            }

                            &:nth-child(2) {
                                grid-column: unset;
                                grid-row: 2;
                                border-right: 0;
                                padding-right: 0;
                                height: rem(40px);
                            }
                         }
                    }
                }
            }
        }
	}

    @include tablet-small-layout {
        .my-properties {
            & > article {
                padding: 17px;
                height: calc(rem(80px) + 34px);

                & > .container {
                    grid-template-columns: rem-capped(130px, 214px) 1fr rem(40px);
                    height: rem(80px);

                    & > .details {
                         grid-template-columns: unset;
                         grid-template-rows: 1fr 1fr;

                         div {
                            &:nth-child(1) {
                                grid-column: unset;
                                grid-row: 1;
                                height: rem(40px);
                            }

                            &:nth-child(2) {
                                grid-column: unset;
                                grid-row: 2;
                                border-right: 0;
                                padding-right: 0;
                                height: rem(40px);
                            }
                         }
                    }

                    & > .media {
                        img {
                            width: rem-capped(120px, 204px);
                            height: rem-capped(80px, 136px);
                        }
                    }
                }
            }
        }

        .best-yields {
            & > div {
                .data {
                    display: grid;
                    grid-template-areas: 
                        "a1 a2"
                        "a3 a4";
                    grid-gap: rem(20px);
                    padding-left: rem(6px);
                    margin-bottom: rem(20px);
                    
                    & > article {
                        margin: 0;
                        width: rem(306px);

                        &:nth-child(1) {
                            grid-area: a1;
                        }
                        &:nth-child(2) {
                            grid-area: a2;
                        }
                        &:nth-child(3) {
                            grid-area: a3;
                        }
                        &:nth-child(4) {
                            grid-area: a4;
                        }
                    }
                }  
                  
            }    
        }
    }

    @include mobile-layout {
        & {
            grid-column: 1 / -1;
            margin: 0;
            overflow-x: hidden;
            overflow-y: auto;
            height: fit-content;

            h1 {
                font-size: rem(22px);
                height: auto;
                min-height: rem(24px);
                margin: rem(20px);

                &.loading0 { width: calc(100% - rem(40px)); }
            }

            h2 {
                margin: rem(20px);
            }
        }
        
        .my-cities {
            display: inline-flex;
            overflow-y: hidden;
            overflow-x: scroll;
            width: 100%;
            padding: 0 rem(20px);
            
            & > article {
                display: inline-grid;
                width: rem(120px);
                height: rem(110px);
                padding: rem(10px);

                & > img {
                    margin: 0 auto rem(4px);
                    width: rem(35px);
                }

                & > div {
                    margin: 0 auto;
                    text-align: center;
                    width: rem(90px);
                }
            }
        }

        .my-properties {
            padding: 0 rem(20px) rem(11px);

            article {
                padding: rem(10px);
                height: fit-content;

                & > .container {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(rem(120px), 1fr));  
                    grid-auto-rows: auto; 
                    width: 100%;
                    gap: 10px;
                    
                    .media {
                        height: rem(96px);

                        img {
                            width: rem(144px);
                            height: rem(96px);
                        }
                    }

                    div:nth-of-type(1) {
                        h2 {
                            height: auto;
                        }
                    }

                    .details {
                        grid-column: unset;
                        grid-template-columns: unset;
                        grid-template-rows: 1fr auto;

                        h2 {
                            font-size: rem(18px);
                            height: rem(24px);
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .price {
                            font-size: rem(16px);
                        }

                        div {
                            &:nth-child(1) {
                                grid-column: unset;
                                grid-row: 1;
                                height: rem(40px);
                            }
 
                            &:nth-child(2) {
                                grid-column: unset;
                                grid-row: 2;
                                border-right: 0;
                                padding-right: 0;
                                
                                .note {
                                    height: fit-content;
                                }
                            }
                        }
                    }

                    .actions {
                        display: none;
                    }
                }

                & > .delete-overlay {
                    height: rem(100px);
                    
                    & > div {
                        height: rem(100px);

                        h2 {
                            margin-bottom: 0;
                            margin-top: rem(8px);
                        }
                    }
                   
                }

                &.await {
                    opacity: 0;
                }
    
                & > .actions-overlay {
                    background-color: var(--home-my-property-actions-overlay-background);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    display: flex;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                    border-bottom-left-radius: 8px;
                    border-top-left-radius: 8px;
                    animation: reveal-overlay 0.5s ease-out forwards;

                    & > div {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: rem(18px);

                            svg {
                                width: rem(22px);
                                height: rem(22px);
                                fill: var(--mobile-icon-color); 
                                margin-left: rem(2px);
                            }

                            span {
                                color: var(--mobile-icon-label);
                            }
                        }
                    }
                   
                }

                &:not(.before-acting) {
                    & > .actions-overlay {
                        animation: conceal-overlay 0.5s ease-out forwards;
                    }
                } 
    
                &.before-acting, &.acting {
                    .container {
                        & > img, & > div {
                            opacity: 30%;
                        }
                    }
                } 
            }
        }

        .best-yields {
            & {
                box-shadow: unset;
                padding: 0 rem(20px);
                margin: 0 0 rem(50px) 0;
                position: relative;
            }

            & > h2 {
                margin: rem(20px) 0 rem(10px);
                font-size: rem(18px);
            }

            & > div {
                .data {
                    display: grid;
                    gap: 10px;
                    grid-template-columns: repeat(auto-fit, minmax(rem(150px), 1fr));
                    width: 100%;
                    max-width: calc(100vw - 40px);
                    justify-items: center;
                    align-items: start;

                    article {
                        margin: 0 rem(6px) 10px;
                        grid-template-rows: 1fr 1fr 1fr;
                        width: rem-capped(150px, 200px);
                        height: unset;
                        max-height: rem-capped(150px, 262px);

                        h3 {
                            margin: auto rem(10px);
                            font-size: rem-capped(15px, 26px);
                        }

                        span {
                            font-size: rem-capped(20px, 32px);
                            /*white-space: nowrap;        
                            overflow: hidden;           
                            text-overflow: ellipsis;  */
                        }
                    }
                }

                .chart {
                    margin: 0 auto rem(20px);
                    width: 100%;
                }
                
            }    
            
            .no-yields {
                @include container;
                width: 100%;
                margin: 0 0 rem(20px);
            }
        }
        
        &.start {
            grid-template-columns: rem(10px) 1fr rem(10px);
            width: 100%;
            margin: 0;
            padding: 0;

            & > div {
                margin-top: 0;
            }

            & > section {
                grid-column: 2;
                width: 100%;
                display: inline;
                margin: 0;
                padding: 0;

                h2 {
                    width: 100%;
                    font-size: rem(40px);
                    height: auto;
                    margin: 10px auto;
                }

                img.mobile {
                    width: rem(250px);
                    height: auto;
                    margin: auto;
                    display: block;

                }

                h3 {
                    width: 100%;
                    font-size: rem(22px);
                    height: auto;
                    margin: 0 auto rem(10px);
                }

                .button.long {
                    margin: 15px auto;

                    button {
                        width: calc(100% - rem(20px));
                    }
                }
            }
        }
    }       
}


@include tablet-layout {
    .main-layout.wide, .main-layout.widing, .main-layout.narrowing {
        .my-properties {
            & > article {
                & > .container {
                    height: rem(100px);
                    grid-template-columns: rem-capped(130px, 238px) 1fr rem(40px);
    
                    & > .media {
                        img {
                            width: rem-capped(120px, 228px);
                            height: rem-capped(80px, 152px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 996.1px) and (max-width: 1042px) {
    .main-layout.wide, .main-layout.widing, .main-layout.narrowing {
        .my-properties {
            & > article {
                & > .container {
                    grid-template-columns: rem-capped(120px, 226px) 1fr rem(36px);
    
                    & > .media {
                        img {
                            width: rem-capped(120px, 216px);
                            height: rem-capped(80px, 144px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 851.1px) and (max-width: 996px) {
    .main-layout.wide, .main-layout.widing, .main-layout.narrowing {
        .my-properties {
            & > article {
                height: calc(rem(100px) + 34px);
            }
        }
    }
}

@include tablet-small-layout {
    .main-layout.wide, .main-layout.widing, .main-layout.narrowing {
        .my-properties {
            & > article {
                height: calc(rem(100px) + 34px);
            }
        }
    }
}