.home {
    background-color: var(--background);

    .add-button {display:none;
        bottom: 0;
        position: absolute;
        right: 45px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-top: 3px solid var(--home-add-button-border);
        border-left: 3px solid var(--home-add-button-border);
        border-right: 3px solid var(--home-add-button-border);
        background: var(--home-add-button-background);
        color: var(--home-add-button-text);
        padding: 10px 10px;
        cursor: default;

        &:hover {
            text-decoration: none;
        }

        span {
            align-self: center;
            margin: 0 4px 2px 2px;
            font-size: rem(20px);
            font-weight: bold;
        }

        svg {
            width: 30px;
            height: 30px;
        }
    }
 
    h1 {
        color: var(--text);
        padding: 0;
        margin: 42px 0 20px;
        font-size: 24px;
        font-weight: bold;
        height: 24px;

        font {
            color: var(--text);
        }

        &.loading0 { background-color: var(--loading-0); width: 370px;}
    }

    h2 {
        color: var(--text);
        padding: 0;
        margin: 20px 0;
        font-size: 18px;
        font-weight: bold;
        height: 24px;

        b {
            font {
                color: var(--text);
            }
        }

        &.loading0 { background-color: var(--loading-0); width: 240px;}
    }

    .my-cities {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-gap: 20px;

        & > article {
            @include container;
            width: 100%;
            height: 62px;
            font-size: 16px;
            align-items: center;
            display: inline-flex;
            margin: 0 0 15px;
            padding: 15px;

            span:hover {
                transform: scale(105%);
                cursor: default;
            }

            &.selected {
                span {
                    font-weight: bold;

                    &:hover {
                        transform: scale(100%);
                        cursor: none;
                    }
                }
            }

            &.loading0 { animation: loading0-animation 3s infinite }
            &.loading1 { animation: loading1-animation 3s infinite }
            &.loading2 { animation: loading2-animation 3s infinite }
            &.loading3 { animation: loading3-animation 3s infinite }
            
            img {
                width: 25px;
                height: auto;
            } 
            span {
                margin-right: 7px;
            }
        }
    }

    .my-properties {
        
        & > article {
            @include container;
            width: 100%;
            height: 134px;
            margin: 0 0 20px;
            padding: 17px;
            position: relative;
            
            & > .container {
                display: grid;
                grid-template-columns: 177px 1fr 120px;
                grid-template-rows: 1fr;
                
                & > div:nth-of-type(1) {
                    grid-column: 2;

                    h2 {
                        margin: 0;
                        padding: 0;
                        background: transparent;
                        font-size: 16px;
                        font-weight: normal;
                        height: 21px;
                    }

                    & > .price {
                        color: var(--home-my-property-price-text);
                        font-size: 12px;
                    }
                }

                & > div:nth-of-type(2) {
                    grid-column: 3;
                    position: relative;

                    & > .indications {
                        svg {
                            float: left;
                            margin: 0 2px 2px 0;
                            
                            &[data-testid="WorkspacePremiumIcon"] {
                                fill: var(--icon-medal);
                            }
                            
                            &[data-testid="RuleIcon"] {
                                fill: var(--icon-miss-content);
                            }
                        }
                    }

                    & > .actions {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        
                        svg {
                            width: 20px;
                            height: 20px;
                            fill: var(--icon-color); 
                        }

                        &.disabled {
                            svg {
                                fill: var(--icon-disabled);
                            }   
                        }
                    }
                }

                & > img {
                    grid-column: 1;
                    width: 150px;
                    height: 100px;
                    border-radius: 8px;
                    object-fit:cover;
                }
            }

            & > .delete-overlay {
                background-color: var(--home-my-property-delete-overlay-background);
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 134px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;

                & > div {
                    height: 134px;
                    text-align: center;

                    .buttons {
                        display: inline-flex;

                        .button {
                            margin: 0;
                        }
                    }

                    
                }
               
            }

            &:not(.before-deleting, .deleting) {
                .delete-overlay {
                    display: none;
                }
            } 

            &.before-deleting, &.deleting {
                .container {
                    & > img, & > div {
                        opacity: 30%;
                    }
                }
            } 

            &.add-new {
                img {
                    margin: 20px;
                    max-width: calc(100% - 40px);
                }

                .container {
                    div:not(:first-child) {
                        background: var(--home-add-button-background);
                        border-radius: 50%;
                        width: 54px;
                        height: 54px;
                        margin: 20px auto;
                        display: flex;

                        svg {
                            color: var(--home-add-button-text);
                            width: 35px;
                            height: 35px;
                            margin: auto;
                        }
                    }
                }
            }

            &.loading0 { animation: loading0-animation 3s infinite }
            &.loading1 { animation: loading1-animation 3s infinite }
            &.loading2 { animation: loading2-animation 3s infinite }
            &.loading3 { animation: loading3-animation 3s infinite }
            &.loading4 { animation: loading4-animation 3s infinite }
            &.loading5 { animation: loading5-animation 3s infinite; display: none; }
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        div {
            background-color: brown;
            margin: 10px;
            height: 150px;
        }
    }

    .best-yields {
        @include container;
        width: 100%;
        margin: 0 0 20px;
        padding: 17px;

        h2 {
            height: 24px;
            font-size: 16px;
            font-weight: normal;
            &.loading0 { background-color: var(--loading-0); width: 240px;}
        }

        .no-data {
            margin: 0 20px;
        }

        & > div {
            display: grid;
            grid-gap: 10px;

            .data {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                & > article {
                    @include inside-container;
                    width: 150px;
                    height: 150px;
                    text-align: center;
                    display: grid;
                    grid-template-rows: 43px 25px 25px;
                    padding: 18px 10px;
                    margin: 0 6px 20px;

                    img {
                        grid-template-rows: 1;
                        margin: 0 auto;
                    }

                    h3 {
                        grid-template-rows: 2;
                        margin: 0 auto;
                        font-size: 13px;
                        font-weight: normal;
                    }

                    span {
                        grid-template-rows: 3;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    

                    &.loading0 { animation: loading0-animation 3s infinite }
                    &.loading1 { animation: loading1-animation 3s infinite }
                    &.loading2 { animation: loading2-animation 3s infinite }
                    &.loading3 { animation: loading3-animation 3s infinite }
                }
            }
    
            .chart {
                margin-bottom: 20px;

                &.loading4 { background-color: var(--loading-4); height: 474px; margin: 32px 6px 28px; }
            }   
        }        
    }

    .hide {
        display: none;
    }

    &.start {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 504px 1fr;

        img {
            grid-column: 1;
            width: 504px;
            height: 504px;
        }

        section {
            grid-column: 2;
            display: inline-block;
            width: 555px;
            
            h2 {
                color: var(--login-title-text);
                font-size: 64px;
                font-weight: bold;
                padding: 0;
                margin: 0 auto;
                text-align: center;
                width: 468px;
                height: 88px;
            }

            h3 {
                color: var(--home-lets-start-title-text);
                font-size: 24px;
                font-weight: bold;
                padding: 0;
                margin: 27px auto 31px;
                text-align: center;
                width: 468px;
            }

            hr {
                border-top: 1px solid var(--home-lets-start-divider);
                margin: 16px 0;
            }

            .button.long {
                margin: 41px auto 20px;
                
                button {
                    width: 468px;
                }
                
            }
        }

    }

    @include tablet-layout {

        & {
            grid-column: 1 / -1!important;
        }
/*
        .add-button {
            right: 20px;
            
            span {
                margin: 0 2px 2px 2px;
                font-size: rem(18px);
            }
    
            svg {
                width: 25px;
                height: 25px;
            }
        }*/

        h1, h2 {
            padding:  0 20px;
        }
        
        .my-cities {
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll;
            margin: 0 20px;

           /* article {
                height: 130px;
                
                & > div {
                    width: 100px;
                    height: 100px;
                }

                &.loading5 { display: grid; }
                &.loading6 { display: grid; }
                &.loading7 { display: grid; }
                &.loading8 { display: grid; }
            }*/
        }
/*
        .my-properties {
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll;
            margin: 0 20px;
            max-width: calc(100% - 40px); 

            article {
                & > .container, & > .footer {
                    width: 200px;

                    svg {
                        float: left;
                        margin-left: 0;
                    }
                }
            }
        }

        .best-yields {
            & > div {
                grid-template-columns: 1fr 1fr;
                margin: 0 20px;

                .data {
                    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            
                    & > article {
                        min-height: 100px;
                        display: grid;
                        grid-template-columns: 2fr 5fr;
            
                        h3 {
                            grid-column: 2;
                            margin: auto;
                            height: 50px;
                            padding: 0;
                        }
    
                        img {
                            grid-column: 1;
                            grid-row: 1 / -1;
                            width: 40px;
                            height: 40px;
                        }
    
                        span {
                            grid-column: 2;
                            font-weight: bold;
                        }
    
                    }
                }    
                
                .chart {
                    &.loading4 { height: 220px; margin: 0 6px; }
                }
                  
            }        
        }*/
    }

    @media (min-width: 807px) and (max-width: 850px) { // small tablet
        .best-yields {
            & > div {
                
                .data {
                    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

                    & > article {
                        h3 {
                            font-size: 1em;
                        }

                        img {
                            width: 34px;
                            height: 34px;
                        }

                        span {
                            font-size: 15px;
                        }
                    }
                }            
            }        
        }
    }

    @include mobile-layout {
        & {
            grid-column: 1 / -1!important;
        }

        .add-button {
            bottom: 10px;
            left: 20px;
            right: unset;
            border-radius: 50%;
            border: 3px solid var(--home-add-button-border);
            
            span {
                display: none;
            }
        }

        h1 {
            background: var(--mobile-home-section-title-background);
            color: var(--mobile-home-section-title-text);
            border-top: 1px solid var(--home-section-title-border);
            border-bottom: 1px solid var(--home-section-title-border);
            border-left: 1px solid var(--home-section-title-border);
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            margin-left: 20px;

            &.loading0 { 
                border-top: 1px solid var(--loading-0);
                border-bottom: 1px solid var(--loading-0);
                border-left: 1px solid var(--loading-0);
             }
        }
        
        h1, h2 {
            padding:  0 20px;
        }
        
        .my-cities {
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll;
            margin: 0 20px;

            article {
                height: 100px;

                & > div {
                    width: 78px;
                    height: 78px;
                }

                &.loading5 { display: grid; }
                &.loading6 { display: grid; }
                &.loading7 { display: grid; }
                &.loading8 { display: grid; }
            }
        }

        .my-properties {
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll;
            margin: 0 20px;
            max-width: calc(100% - 40px); 

            article {
                & > .container, & > .footer {
                    width: 94px;
                    font-size: 14px;
                }

                & > .container div {
                    h2 {
                        font-size: 14px;
                        height: unset;
                    }

                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }

                &.loading5 { display: grid; }
            }
        }

        .best-yields {
            & > div {
                margin: 0 20px;

                .data {
                    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
                }    
                
                .chart {
                    &.loading4 {
                        aspect-ratio: auto 715 / 357;
                        height: auto;
                        margin: 0 6px 19px;
                    }
                    
                }
                
            }        
        }
        
        &.start {
            div:last-child {
                .add-button {
                    bottom: 30px;
                }
            }
        }
    }       
}
