.personal-info {
    
    height: calc(100% - 100px);
    margin: auto;
        
    article {
        border: 1px solid var(--login-border);
        background-color: var(--login-background);
        border-radius: 1px;
        width: 350px;    
        height: 456px; 
        margin: 20px 0 0 0;
        box-sizing: content-box;
        justify-content: center;
        display: grid;

        &:first-child {
            padding-bottom: 22px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            h2 {
                color: var(--login-title-text);
                font-family: gveret-levin;
                font-size: 48px;
                padding: 0;
                background-repeat: no-repeat;
                display: inline-block;
                margin: 0;
                grid-column: auto;
                margin: 47px auto 36px;

                &.has-summary {
                    margin-bottom: 15px;
                }
            }

            .note {
                height: 40px;
                font-size: 16px;
                padding: 4px 8px;
                width: 268px;

                &.error {
                    color: var(--form-field-error-text);
                }
                
                &.message {
                    color: var(--form-field-message-text);
                }
            }

            .button {
                margin: auto;
            }
        }
    
        &:not(:first-child) {
            div {
                margin: 22px 0;

                a {
                    cursor: default;

                    u {
                        font-weight: bold;
                        text-decoration: none;
                        color: var(--login-link-text);
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }  
        }

        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    
    &.loading0 article { animation: loading0-animation 3s infinite; *, h2 { display: none } }
}
