.property {
    padding-bottom: 20px;
    
    h1 {
        color: var(--text);
        padding: 0;
        margin: 42px 0 20px;
        font-size: rem(24px);
        font-weight: bold;
        height: rem(24px);

        &.loading0 { background-color: var(--loading-0); width: rem(370px); text-indent: -9999px; }
    }

    h2 {
        color: var(--text);
        padding: 0;
        margin: 20px 0;
        font-size: rem(18px);
        font-weight: bold;
        height: rem(24px);
    }

    .form {
        @include container;
        width: 100%;
        margin-bottom: 35px;
        
        article {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(rem(310px), 1fr));

            .property-field {
                span {
                    line-height: rem(30px);
                }
    
                &.percent {
                    span {
                        line-height: normal;
                    }
                }
            }
    
            h3 {
                grid-column: 1 / -1;
            }

            &:nth-child(3) {
                *:nth-child(2), *:nth-child(4) { 
                    &.property-field {
                        span {
                            line-height: rem(16px);
                        }
                    }
                }
            }

            &:nth-child(5) {
                *:nth-child(1), *:nth-child(2) {
                    &.property-field {
                        span {
                            line-height: rem(16px);
                        }
                    }
                }
            }

            *:nth-child(7) {
                &.property-field.warning {
                    span {
                        line-height: rem(16px);
                    }
                }
            }

            &:nth-child(9) {
                *:nth-child(1), *:nth-child(4) {
                    &.property-field {
                        span {
                            line-height: rem(16px);
                        }
                    }
                }
            }

            &:nth-child(11) {
                *:nth-child(4) {
                    &.property-field {
                        span {
                            line-height: rem(16px);
                        }
                    }
                }
            }  
        }

        &:not(.city-else) {
            article {
                &:nth-child(1) {
                    *:nth-child(6), *:nth-child(7){
                        &.property-field {
                            span {
                                line-height: rem(16px);
                            }
                        }
                    }
                }
            }            
        }

        &.city-else {
            article {
                &:nth-child(1) {
                    *:nth-child(6) {
                        &.property-field {
                            span {
                                line-height: rem(30px);
                            }
                        }
                    }
    
                    *:nth-child(7), *:nth-child(8) {
                        &.property-field {
                            span {
                                line-height: rem(16px);
                            }
                        }
                    }
                }
            }
        }
    }

    .interests {
        display: grid;	
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-bottom: 35px;

        article {
            display: block;
            grid-template-columns: repeat(auto-fill, minmax(rem(290px), 1fr));
        }

        .zoom-in {
            display: none;
        }

        article {
            height: fit-content;

            .property-field {
                &.percent {
                    margin: 5px 0;
                    width: 100%;
                    
                    span {
                        &.number-picker {
                            display: flex;
                            justify-content: end;
                            align-items: start;
                            height: rem(20px);

                            .input {
                                input {
                                    height: auto;
                                }
    
                                svg {
                                    margin: 0;
                                }
                            }
    
                            .actions {
                                height: rem(20px);
                                margin-top: 2px;
                            }
                        }
                        
                        margin-right: 0;
                        width: 100%;
    
                        u {
                          text-decoration: underline; 
                          display: inline; 
                          float: left;
                          width: rem(40px);
                        }
                    }
    
                    .rollback {
                        svg {
                            margin: 0 0 0 5px;
                        }
                    }
                }

                &.number-picker {
                    &.percent {
                        span {
                            u {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .data {
        @include container;
        grid-column: 2;
        padding-top: 0;
        padding: 7px 25px 34px;

        h2 {
            margin: 20px 0 10px;
        }

        section {
            .title {
                display: flex;
            }

            &.chart {
                overflow: hidden;
                border-bottom-left-radius: 10px;
            
                div {
                    background-color: var(--chart-background);
                }
            }

            &.lock-yields, &.loading-calc-yields {
                background-color: var(--property-form-background);
                margin-top: 0;
                border-bottom-left-radius: 10px;
                height: calc(100% - 180px);
                text-align: center;

                h3 {
                    padding-top: 60px;
                    font-size: rem(24px);
                }

                img {
                    padding-top: 20px;
                    padding-bottom: 20;
                }

                svg {
                    width: 300px!important;
                    height: 300px!important;
                }
            }

            &.loading-calc-yields {
                margin: 0;
                border-top-left-radius: 10px;
                height: 100%;
            }

            &.yield-forecast, &.amortization-schedule, &.chart {
                @include inside-container;
                margin: 0;
                padding: 20px 10px;
            }
        }  

        .unavailable-overlay {
            display: none;
        }

        &.lock {
            position: relative;
            width: 100%;
            height: 100%;
            pointer-events: auto;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
            .unavailable-overlay {
                position: absolute;
                top: 120px;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: start;
                align-items: center;
                z-index: 999;
                flex-direction: column;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }

                div {
                    font-size: rem(30px);
                    margin-top: 30px;
                }
            }

            section {
                filter: blur(10px);
                overflow: hidden;
            } 
        }

        &.loading3 { .loading-calc-yields {animation: loading3-animation 3s infinite } }

        .react-tabs {
            display: none;
        }
    }

    .menu {
        display: none;
    }

    .media-list {
        @include container;
        padding: 26px;

        display: grid;
        grid-template-columns: repeat(auto-fill, 230px);
        grid-gap: 17px;

        .media {
            position: relative;

            svg {
                color: var(--property-media-close-icon);
                position: absolute;
                right: rem(4px);
                top: 4px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }

        img {
            width: rem(230px);
            height: rem(175px); 
            border-radius: 8px;
            object-fit: cover;
        }

        .file-upload {
            @include inside-container;
            width: rem(230px);
            height: rem(175px); 
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: default;
            
            div {
                display: flex;

                span {
                    font-weight: bold;
                    height: rem(24px);
                    display: flex;
                    align-items: center;
                }
    
                svg {
                    font-size: rem(24px);
                    margin-right: 10px;
                    fill: var(--property-media-upload-icon);
                }
            }

            .loading {
                width: rem(20px);
                height: rem(20px);
                fill: var(--loading-dark);
                animation-name: loading;
                animation-duration: .8s;
                animation-iteration-count: infinite;
                animation-timing-function: steps(8,end);  
                margin: 0;
            }
        }

        input {
            display: none;
        }
    }

    .goto-results {
        @include container;
        position: absolute;
        bottom: 15px;
        background-color: var(--property-goto-results-background);
        color: var(--property-goto-results-icon);
        left: 50%;
        transform: translateX(-50%);
        width: rem(40px);
        height: rem(40px);
        padding: 5px;

        &:hover {
            background-color: var(--property-goto-results-hover-background);
        }
    }

    @include tablet-layout {
        & {
            grid-column: 1 / -1;
            margin-bottom: 10px;
            height: fit-content;

            h1 {
                font-size: rem(24px);
            }

            .form {
                margin-top: 0;

                article {
                    grid-template-columns: repeat(auto-fill, minmax(rem(300px), 1fr));
                }
            }

            .interests {
                grid-template-columns: repeat(auto-fill, minmax(rem(290px), 1fr));
            }

            .data {
                & section {
                    max-width: 100%;
                    width: calc(100vw - 225px);
                }

                &.lock-yields {
                    margin-top: 36px;
                }
            }

            .media-list {
                grid-template-columns: repeat(auto-fill, 200px);
                grid-gap: 20px;

                .media, .file-upload {
                    margin: 0 auto;
                }

                .file-upload, img {
                    width: rem(200px);
                    height: rem(152px);
                }
            }

            .goto-results {
                left: rem(65px);
            }
        }
        
    }

    @include tablet-small-layout {
        & {
            h1 {
                font-size: rem(22px);
            }

            .form {
                .property-field .custom-dropdown,
                .property-field .custom-dropdown .dropdown-toggle,
                .property-field > div > input,
                .property-field > div > textarea {
                    width: rem(170px);
                }
            }

            .media-list {
                padding: 14px;
                grid-template-columns: repeat(auto-fill, calc((100% - rem(28px)) / 3));
                grid-gap: 14px;

                .media, .file-upload {
                    margin: 0 auto;
                }

                .file-upload, img {
                    max-width: rem(230px);
                    max-height: rem(175px);
                }
            }

            .data {
                
            }
        }
        
    }

    @include mobile-layout {
        & {
            grid-column: 1 / -1;
            margin: 20px;

            h1:first-of-type {
                font-size: rem(22px);
                height: auto;
                margin: 0 0 20px;

                &.loading0 { width: calc(100% - 40px); }
            }
        }

        &.lock {
            h1:nth-of-type(2) {
                margin: 0 0 20px;
            }
        }

        &:not(.lock) {
            h1:nth-of-type(2) {
                display: none;
            }
        }

        .form {
            box-shadow: unset;
            max-width: unset;
            padding: 0;
            margin-bottom: 30px;
            grid-template-rows: unset;

            article {
                grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));

                &:nth-child(11) {
                    *:nth-child(4) {
                        &.property-field {
                            span {
                                /*line-height: rem(30px);*/
                            }
                        }
                    }
                }
            }

            .property-field {
                margin: 7px 0;
            }

            hr {
                margin: 20px 0;
            }

            h3 {
                margin: 0;
                padding: 0;
                font-size: rem(17px);
            }

            &:not(.city-else) {
                /**:nth-child(7),*/ *:nth-child(33)  {
                    &.property-field {
                        span {
                            line-height: rem(16px);
                        }
                    }
                }
            }
    
            &.city-else {
                *:nth-child(8), *:nth-child(34) {
                    &.property-field {
                        span {
                            line-height: rem(16px);
                        }
                    }
                }
            }
        }

        .media-list {
            padding: 14px;
            grid-template-columns: repeat(auto-fill, calc((100% - 28px) / 3));
            grid-gap: 14px;

            .file-upload {
                font-size: 24px;
                padding: 10px;
            }

            .media, .file-upload {
                margin: 0 auto;
            }

            .file-upload, img {
                width: 230px;
                height: 175px;
            }
        }

        .data {
            position: absolute;
            top: 0;
            right: 88px;
            box-shadow: unset;
            width: 100%;
            height: 100%;
            padding: 0;

            &.form {
                display: none;
            }

            section {
                display: none;

                &.yield-forecast, &.amortization-schedule, &.chart {
                    border-radius: 0;
                    height: 100vh;
                    padding: 0; 
                    background-color: var(--mobile-property-data-table-background);

                    .rc-table, .rc-table thead th, .rc-table tbody tr td {
                        background-color: var(--mobile-property-data-table-background);
                        border: 1px solid var(--mobile-property-data-table-background);

                        &::-webkit-scrollbar {
                            width: 4px;
                        
                            &-thumb {
                                background-color: var(--mobile-property-data-table-background);
                                border-radius: 0;
                            }

                            &-track {
                                background-color: var(--mobile-property-data-table-background);
                                border-radius: 0;

                                &:hover {
                                    background-color: var(--mobile-property-data-table-background);
                                }
                            } 
                          }
                    }

                    .rc-table {
                        height: 100vw;
                        width: calc(100vh - 88px);
                    }

                    .rc-table-header {
                        border: 1px solid var(--mobile-property-data-table-background);
                    }

                }
            }
        }

        .menu {
            background-color: var(--mobile-property-menu-background);
            padding: 0 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            height: rem(88px);
            border-top: 1px solid var(--mobile-property-menu-border);

            &.no-mortgage {
                grid-template-columns: 1fr 1fr;
                padding: 0 50px;
            }

            article {
                text-align: center;
                
                button {
                    text-align: center;
                    margin: 10px auto;
                    max-width: 100px;
                    padding-right: rem(4px);
                    background-color: transparent;
                    border: 0;
    
                    h3 {
                        color: var(--mobile-property-menu-text);
                        font-size: rem-capped(16px, 22px);
                        font-weight: normal;
                        margin: auto;
                        text-align: center;
                        word-spacing: rem(100px);
    
                        &.label-on {
                            color: var(--mobile-property-menu-text-selected);
                        }
                    }
    
                    img {
                        width: rem(24px);
                        height: rem(24px);
                    }
                }
            }

            & > img {
                position: absolute;
                top: calc(50% - rem(12px));
                right: 15px;
                width: rem-capped(24px, 32px);
                height: rem-capped(24px, 32px);
            }

            &.side {
                transform: rotate(-90deg);
                transform-origin: left;
                width: 100vw;
                height: 88px;
                overflow: hidden;
                left: calc(100vh - 88px + 44px);
                top: calc(100vw - 43px);
                padding: 0 40px 0 20px;
                border-left: 1px solid var(--property-form-spinner-divider);

                article {
                    transform: rotate(90deg);

                    button {
                        padding-right: rem(4px);
                        
                        h3 {
                            font-size: rem-capped(16px, 20px);
                        }

                        img {
                            width: rem-capped(24px, 36px);
                            height: rem-capped(24px, 36px);
                        }
                    }
                }

                .zoom-out {
                    color: var(--mobile-property-menu-zoom-out);
                    position: absolute;
                    margin: 30px 11px;
                    width: rem-capped(24px, 36px);
                    height: rem-capped(24px, 36px);
                }

                .close {
                    position: absolute;
                    top: 32px;
                    left: 0;
                }
            }

            &.bottom {
                .zoom-out, .close {
                    display: none;
                }
            }
        }

        .goto-results {
            display: none;
        }

        &:not(.show-mobile-data) {
            h2, .interests {
                display: none;
            }
        }

        &.show-mobile-data {
            h1, h2, .form, .media-list {
                display: none;
            }

            .interests.show {
                position: absolute;
                z-index: 1;
                width: calc(100vh - 45px);
                background: white;
                margin: 6px 20px;
                right: 3px;
                top: 0;
                border-radius: 16px;
                padding: 15px 40px 15px 20px;

                .zoom-in {
                    color: var(--mobile-property-menu-zoom-in);
                    position: absolute;
                    top: 6px;
                    right: 10px;
                    display: block;
                    width: rem-capped(24px, 36px);
                    height: rem-capped(24px, 36px);
                }

                .property-field {
                    &.percent {
                        & > div.rollback {
                            width: rem(30px);
                            margin: 0 10px 0 0;
                        }

                        &.number-picker {
                            &.roll-back {
                                & > .label {
                                    margin-right: rem(5px);
                                }
                            }

                            &:not(.roll-back) {
                                & > .label {
                                    margin-right: rem(13px);
                                }
                            }

                            .input {
                                input {
                                    pointer-events: none;
                                }
                            }
                        }
                            
                        .label {
                            font-size: rem-capped(15px, 24px);

                            u {
                                width: rem-capped(40px, 60px);
                                text-align: left;
                            }
                        }
                    }
                }
            }

            &.yield-forecast .data .yield-forecast,
            &.amortization-schedule .data .amortization-schedule {
                display: inline;
                position: fixed;
            }

            &.chart .data .chart {
                display: block;
                width: calc(100vh - 88px);
                height: 100vw;
                position: relative;
                right: 0;

                div {
                    display: grid;
                    place-items: center; 
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.lock {
            .interests {
                display: none;
            }
        }    
    }

    & {
        @media (min-width: 600px) and (max-width: 807px)  {
            .media-list {
                margin-bottom: 120px;
                padding: 14px;
                grid-template-columns: repeat(auto-fill, calc((100% - 28px) / 3));
                grid-gap: 14px;

                
                .file-upload, img {
                    width: 170px;
                    height: 130px;
                    margin: 0 auto;
                }
            }
        }

        @media (min-width: 580px) and (max-width: 599.9px)  {
            .media-list {
                margin-bottom: 120px;
                padding: 14px;
                grid-template-columns: repeat(auto-fill, calc((100% - 28px) / 2));
                padding: 14px;

                .file-upload, img {
                    width: 170px;
                    height: 130px;
                    margin: 0 auto;
                }
            }
        }

        @media (min-width: 490px) and (max-width: 579.9px)  {
            .media-list {
                margin-bottom: 120px;
                padding: 10px;
                grid-template-columns: repeat(auto-fill, calc((100% - 20px) / 2));
                grid-gap: 10px;

                .file-upload, img {
                    margin: 0 auto;
                    width: 200px;
                    height: 152px;
                }
            }
        }

        @media (min-width: 414px) and (max-width: 489.9px)  {
            .media-list {
                margin-bottom: 120px;
                padding: 10px;
                grid-template-columns: repeat(auto-fill, calc((100% - 20px) / 2));
                grid-gap: 10px;

                .file-upload, img {
                    width: 160px;
                    height: 122px;
                    margin: 0 auto;
                }
            }
        }

        @media (max-width: 413.9px)  {
            .media-list {
                margin-bottom: 120px;
                padding: 10px;
                grid-template-columns: repeat(auto-fill, calc((100% - 20px) / 2));
                grid-gap: 10px;

                .file-upload, img {
                    width: 140px;
                    height: 106px;
                    margin: 0 auto;
                }
            }
        }
    }
    
}

.androids {
    .property {
        @include mobile-layout {
            .data {
                &.yield-forecast, &.amortization-schedule, &.chart {
                    right: rem(89px);
                    
                    section {
                        &.yield-forecast, &.amortization-schedule, &.chart {
                            .rc-table {
                                width: calc(100vh - 90px);
                            }
        
                        }
                    }
                }
            }

            &.show-mobile-data.chart .data .chart {
                width: calc(100vh - 88px);
            }
            
            .menu {
                &.side {
                    left: calc(100vh - 45px);

                }
            }

            &.show-mobile-data .interests.show {
                width: calc(100vh - rem(46px));
                right: rem(4px);
            }
        }
    }
}

.main-layout.wide, .main-layout.widing, .main-layout.narrowing {
    @include tablet-layout {
        .property {
            & > section:not(.data.lock-yields) {
                margin: 0;
            }

            .form {
                padding: 10px;

                article {
                    grid-template-columns: repeat(auto-fill, minmax(rem(265px), 1fr));

                    .property-field .custom-dropdown,
                    .property-field .custom-dropdown .dropdown-toggle,
                    .property-field > div > input {
                        width: rem(125px);
                    }
                    
                    .property-field.dropdown.searchable .custom-dropdown .dropdown-menu {
                        input {
                            width: rem(113px);
                            margin: 0 6px;
                        }
                       
                        ul {
                            padding-left: 0;

                            li {
                                padding: 6px;
                                white-space: nowrap;
                                overflow: hidden;
                                direction: rtl;
                            }
                        }
                        
                    }

                    .property-field span {
                        font-size: rem(14px);
                    }

                    div textarea {
                        width: rem(125px);
                    }
                }
                
            }

            .data {
                padding: 7px 15px 34px;

                section.yield-forecast, 
                section.amortization-schedule, 
                section.chart {
                    padding: 20px 4px;
                    width: calc(100vw - 238px);
                }

                width: calc(100vw - 207px);
            } 
        }
    }

    @include tablet-small-layout {
        .property {
            
        }
    }
}
  

.web-ad-banner {
    grid-column: 1!important;
}

