.property {
    padding-top: 65px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    .city-logo {
        width: 100px; 
        height: 100px;
        border-radius: 50%; 
        overflow: hidden;
        border: 5px solid var(--home-my-cites-border);
        margin: -100px 140px 0 0;
        top: 50px;
        position: relative;
        
        img {
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }

        &.loading1 div { 
            width: 100%; 
            height: 100%;
            border-radius: 50%;
            animation: loading1-animation 3s infinite 
        }
    }

    .form {
        grid-column: 1;
        background-color: var(--property-form-background);
        padding: 55px 20px 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 380px; 

        .property-field {
            span {
                line-height: 30px;
            }

            &.percent {
                span {
                    line-height: normal;
                }
            }
        }

        &:not(.city-else) {
            /**:nth-child(-1) {
                &.property-field {
                    span {
                        line-height: 44px;
                    }
                }
            }*/

            *:nth-child(6), *:nth-child(10), *:nth-child(12):has(u), *:nth-child(14), *:nth-child(15), *:nth-child(25):has(u), *:nth-child(28) {
                &.property-field {
                    span {
                        line-height: 16px;
                    }
                }
            }

            *:nth-child(7) {
                &.property-field.warning {
                    span {
                        line-height: 16px;
                    }
                }
            }
        }

        &.city-else {
            *:nth-child(7), *:nth-child(11), *:nth-child(13):has(u), *:nth-child(15), *:nth-child(16), *:nth-child(26):has(u), *:nth-child(29) {
                &.property-field {
                    span {
                        line-height: 16px;
                    }
                }
            }

            
            *:nth-child(8) {
                &.property-field.warning {
                    span {
                        line-height: 16px;
                    }
                }
            }
        }
    }

    .data {
        grid-column: 2;
        padding-right: 20px;

        section {
            .title {
                margin: 0 0 10px;
                padding: 0;
                display: flex;
                
                img {
                    width: 30px;
                    height: 30px;
                    margin: 0 10px;
                }
            }

            &.interests {
                background-color: var(--property-form-background);
                border-top-left-radius: 10px;
                height: 160px;
                width: auto;
                padding-top: 5px;
                
                .zoom-in {
                    display: none;
                }

                .property-field {
                    &.percent {
                        margin: 7px;
                        width: calc(20% - 14px);
                        display: inline-flex;
                        height: 65px;

                        &:nth-child(6) {
                            width: calc(23% - 14px);
                        }

                        &:nth-child(5), &:nth-child(10) {
                            width: calc(23% - 14px);
                        }

                        &:nth-child(4), &:nth-child(9) {
                            width: calc(20% - 14px);
                        }

                        &:nth-child(3), &:nth-child(8) {
                            width: calc(20% - 14px);
                        }

                        &:nth-child(2), &:nth-child(7) {
                            width: calc(14% - 14px);
                        }

                        
                        span {
                            &.number-picker {
                                display: flex;
                                flex-direction: column-reverse;
                                margin-top: 10px;
                                margin-right: -12px;

                                .input {
                                    input {
                                        width: 20px;
                                    }

                                    svg {
                                        margin: 3px 0;
                                    }
                                }

                                .actions {
                                    
                                }
                            }
                            
                            margin-right: 0;

                            u {
                              text-decoration: underline; 
                              display: inline; 
                            }
                        }

                        .rollback {
                            min-width: 30px;
                            height: 25px;
                            position: static;
                        }
                    }
                }
            }

            &.chart {
                overflow: hidden;
                border-bottom-left-radius: 10px;
            
                div {
                    background-color: var(--chart-background);
                }
            }

            &.lock-yields, &.loading-calc-yields {
                background-color: var(--property-form-background);
                margin-top: 0;
                border-bottom-left-radius: 10px;
                height: calc(100% - 180px);
                text-align: center;

                h3 {
                    padding-top: 100px;
                    font-size: 24px;
                }

                img {
                    padding-top: 20px;
                }

                svg {
                    width: 300px!important;
                    height: 300px!important;
                }
            }

            &.loading-calc-yields {
                margin: 0;
                border-top-left-radius: 10px;
                height: 100%;
            }

            &:not(.chart, .lock-yields) {
                margin-bottom: 20px;
            }
        }  

        .unavailable-overlay {
            display: none;
        }

        &.lock {
            position: relative;
            width: 100%;
            height: 100%;
            pointer-events: auto;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
            .unavailable-overlay {
                position: absolute;
                top: 120px;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: start;
                align-items: center;
                z-index: 999;
                flex-direction: column;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }

                div {
                    font-size: 30px;
                    margin-top: 30px;
                }
            }

            section {
                filter: blur(10px);
                overflow: hidden;
            }
        }

        &.loading3 { .loading-calc-yields {animation: loading3-animation 3s infinite } }

        .react-tabs {
            display: none;
        }
    }

    .menu {
        display: none;
    }

    @include tablet-layout {

        & {
            grid-template-columns: 1fr;
        }

        .city-logo {
            margin-right: 314px;
        }

        .form {
            width: 100%;
            grid-template-columns: 1fr 1fr;
            display: grid;
            grid-auto-flow: column;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 0;

            &:not(.city-else) {
                *:nth-child(n+0):nth-child(-n+5),
                *:nth-child(7),
                *:nth-child(n+13):nth-child(-n+16),
                *:nth-child(n+17):nth-child(-n+23) {
                    grid-column: 1;
                }

                *:nth-child(8) {
                    display: none;
                }

                *:nth-child(n+5):nth-child(-n+6),
                *:nth-child(n+9):nth-child(-n+12),
                *:nth-child(n+24) {
                    grid-column: 2;
                }
            }

            h3 {
                line-height: 44px;
            }

            hr {
                height: 1px;
                width: calc(100% - 40px);
            }

            &.city-else {
                *:nth-child(n+0):nth-child(-n+6),
                *:nth-child(8),
                *:nth-child(n+14):nth-child(-n+17),
                *:nth-child(n+18):nth-child(-n+24) {
                    grid-column: 1;
                }

                *:nth-child(9) {
                    display: none;
                }

                *:nth-child(n+6):nth-child(-n+7),
                *:nth-child(n+10):nth-child(-n+13),
                *:nth-child(n+25) {
                    grid-column: 2;
                    
                    div {
                        margin-right: 30px;
                    }
                }
            }
        }

        .data {
            grid-column: 1;
            padding-right: 0;

            & > section:not(.interests, .lock-yields, .loading-calc-yields) {
                display: none;
            }

            section:not(.chart) {
                margin-bottom: 0;
            }
            section.interests {
                margin-top: 20px;
                border-top-left-radius: 0;

                .property-field {
                    &.percent {
                        width: calc(20% - 14px);
                    }
                }
            }
    
            section.lock-yields, section.loading-calc-yields {
                margin-top: 20px;
                border-bottom-right-radius: 10px;
                height: auto;
                
                img {
                    padding-bottom: 100px;
                }
            }

            .react-tabs {
                display: inline-block;
                margin-top: 20px;
                width: 100%;
                
                &__tab-panel {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding-bottom: 10px;
                    background-color: var(--tabs-background);
                }

                section {
                    .title {
                        display: none;
                    }
                }
            }

            section.yield-forecast, section.amortization-schedule, section.chart {
                border-bottom-right-radius: 10px;
            }
        }
        
    }

    @include mobile-layout {
        & {
            grid-template-columns: 1fr;
        }

        .city-logo {
            margin-right: calc(50% - 50px);
        }

        .form {
            width: 100%;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 0;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 60px;

            .property-field {
                margin: 7px 20px;

                &.searchable-dropdown {
                    div {
                        position: static;

                        ul {
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border: 1px solid var(--mobile-form-spinner-border);
                            width: calc(100% - 80px);
                            height: 200px;
                            border-radius: 4px;
                        }
                    }
                }

                &.warning {
                    span {
                        margin-right: 0;
                        width: 126px;
                    }

                    div {
                        input {
                            margin-right: 1px;
                            width: calc(100% - 17px);
                        }
                    }
                }
            }

            hr {
                margin: 20px 21px;
            }

            h3 {
                margin: 0 10px;
            }

            &:not(.city-else) {
                *:nth-child(7), *:nth-child(33)  {
                    &.property-field {
                        span {
                            line-height: 16px;
                        }
                    }
                }
            }
    
            &.city-else {
                *:nth-child(8), *:nth-child(34) {
                    &.property-field {
                        span {
                            line-height: 16px;
                        }
                    }
                }
            }
        }

        .data {
            grid-column: 1;
            position: absolute;
            top: calc(50% - 43px);
            right: 60px;

            section {
                display: none;
                
                .title {
                    display: none;
                }

                .rc-table {
                    height: 100vw;

                    table {
                        width: auto;
                        height: calc(100% - 86px);

                        td {
                            word-break: normal;
                        }

                        th, td {
                            word-break: normal;
                            background-color: var(--mobile-table-cell-background);
                        }
                    }
                }

                &.chart {
                    border-bottom-left-radius: 0;
                    background-color: var(--chart-background);
                }

                &.interests.show:not(.form) {
                    display: inline-table;
                    position: absolute;
                    z-index: 1;
                    width: calc(100vh - 44px);
                    background: white;
                    margin: 6px 20px;
                    right: calc(-50% - 54px);
                    border-radius: 16px;
                    padding: 15px 26px 15px 20px;

                    .property-field.percent {
                        margin: 2px;
                        height: 65px;
                        
                        &:nth-child(6) {
                            width: calc(22% - 4px);
                        }

                        &:nth-child(5), &:nth-child(10) {
                            width: calc(21% - 4px);
                        }

                        &:nth-child(4), &:nth-child(9) {
                            width: calc(22% - 4px);
                        }

                        &:nth-child(3), &:nth-child(8) {
                            width: calc(21% - 4px);
                        }

                        &:nth-child(2), &:nth-child(7) {
                            width: calc(14% - 4px);
                        }
                         
                        span {
                            margin-right: 30px;

                            u {
                              text-decoration: underline; 
                              display: inline; color:purple;
                            }

                            .input {
                                background-color: red;
                            }
                            .actions {
                                background-color: green;
                            }
    
                            
                        }

                        .rollback {
                            width: 24px;
                            height: 50px;
                            position: absolute;
                        }
                    }

                    .zoom-in {
                        color: var(--mobile-property-menu-zoom-in);
                        position: absolute;
                        top: 6px;
                        right: 10px;
                        display: block;
                    }
                }
            }
        }

        .menu {
            background-color: var(--mobile-property-menu-background);
            padding: 0 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 88px;

            &.no-mortgage {
                grid-template-columns: 1fr 1fr;
                padding: 0 50px;
            }

            article {
                text-align: center;
                margin: 10px auto;
                max-width: 100px;
                padding-right: 4px;

                h3 {
                    color: var(--mobile-property-menu-text);
                    font-size: 16px;
                    font-weight: normal;
                    margin: auto;
                    text-align: center;
                    word-spacing: 100px;

                    &.label-on {
                        color: var(--mobile-property-menu-text-selected);
                    }
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            & > img {
                position: absolute;
                top: calc(50% - 12px);
                right: 15px;
            }

            &.side {
                transform: rotate(-90deg);
                transform-origin: left;
                width: 100vw;
                height: 88px;
                overflow: hidden;
                right: calc(-50%);
                bottom: -44px;
                padding: 0 40px 0 20px;

                article {
                    transform: rotate(90deg);
                }

                .zoom-out {
                    color: var(--mobile-property-menu-zoom-out);
                    position: absolute;
                    margin: 30px 11px;
                }
            }

            &.bottom {
                .zoom-out {
                    display: none;
                }
            }
        }

        &.show-mobile-data {
            .form {
                display: none;
            }

            &.yield-forecast .data .yield-forecast,
            &.amortization-schedule .data .amortization-schedule {
                display: inline;
                position: fixed;
            }

            &.chart .data .chart {
                display: block;
                width: calc(100vh - 90px);
                height: 100vw;
                position: relative;
                right: 18px;

                div {
                    top: 45px;
                    position: absolute;
                }
            }
        }
    }
}

.adsbygoogle {
    grid-column: 1!important;
}

