.main-layout {
    
    @include base-layout;  
    @include scrollbar;
    
    @include mobile-layout {
        .tablet, .desktop { display: none }
        @include layout-grid-template-columns('mobile');
        @include layout-grid-template-rows('mobile');
    }

	@include tablet-layout {
        .mobile, .desktop { display: none }

        &:not(.wide) {
            @include layout-grid-template-columns('tablet');
        }

        &.wide, &.widing, &.narrowing {
            @include layout-grid-template-columns('tablet-wide-menu');
        }
        
        &:not(.logout) {
            @include layout-grid-template-rows('tablet');
        }

        &.logout {
            grid-template-columns: $layout-padding-desktop 1fr $layout-padding-desktop;
        }

        &.narrowing {
            main {
                transition: width 0.3s ease-in-out;  
            }
        }

        &.widing {
            main {
                transition: width 0.3s ease-in-out;  
            }
        }
    }

    @include desktop-layout {
        .mobile, .tablet { display: none }
        @include layout-grid-template-columns('desktop');
        
        &:not(.logout) {
            @include layout-grid-template-rows('desktop');
        }
    }
}