@font-face {
  font-family: rubik-regular;
  src: url(/src/assets/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: gveret-levin-regular;
  src: url(/src/assets/fonts/gveret-levin/gveret-levin-regular.ttf);
}

@font-face {
  font-family: open-sans-hebrew-regular;
  src: url(/src/assets/fonts/open-sans-hebrew/open-sans-hebrew-regular.ttf);
}
