:root {
    /* palette */
    --palette1: #ffffff;
    --palette2:#E8E8E8;
    --palette3:#999999;
    --palette3_overlay: #e6e5e3;
    --palette4:#545454;
    --palette5:#030303;
    --palette5_transparent:rgba(0, 0, 0, 0.12);
    --palette5_overlay:rgba(0, 0, 0, 0.33);
    --palette6:#c4c6e0;
    --palette7:#5664f5;
    --palette8:#F0F1FF;
    --palette9:#db1111;
    --palette10:#4cd964;
    
    --background: var(--palette1);
    
    --text: var(--palette5);
    --text-disable: var(--palette6);
    --text-error: var(--palette6);
    --text-success: var(--palette5);
    --text-message: var(--palette3);
    --text-warning: var(--palette8);
    --text-tooltip: var(--palette8);
    --text-link: var(--palette7);

    --loading-light: var(--palette1);
    --loading-dark: var(--palette7);

    --scrollbar-thumb-background: var(--palette3);
    --scrollbar-track-background: var(--palette2);
    --scrollbar-track-background-hover: var(--palette8);
    --scrollbar-track-border-hover: var(--palette8);

    --alert-background: var(--palette1);
    --alert-border: var(--palette3);
    --alert-header-background: var(--palette7);
    --alert-header-title: var(--palette1);
    --alert-header-icon-warning: var(--palette1);
    --alert-header-icon-close: var(--palette1);

    --button-default-background: var(--palette7);
    --button-default-background-hover: var(--palette7);
    --button-default-text: var(--palette1);
    --button-default-text-hover: var(--palette6);
    --button-negative-background: var(--palette6);
    --button-negative-background-hover: var(--palette7);
    --button-negative-text: var(--palette3);
    --button-negative-text-hover: var(--palette1);
        
    --icon-medal: var(--palette10);
    --icon-miss-content: var(--palette9);
    --icon-color: var(--palette7);
    --icon-disabled: var(--palette2);
    --mobile-icon-color: var(--palette2);
    --mobile-icon-label: var(--palette2);
    
    --container-border: var(--palette5_transparent);
    --inside-container-background: var(--palette8);
    --modal-shadow: var(--palette5_overlay);
    
    --signup-progress-background: var(--palette2);
    --signup-progress-active-background: var(--palette7);
    --signup-property-background: var(--palette2);
    --signup-property-selected-text: var(--palette7);

    --home-my-property-price-text: var(--palette4);
    --home-my-property-delete-overlay-background: var(--palette5_transparent);
    --home-my-property-actions-overlay-background: var(--palette9);
    --home-my-property-separator: var(--palette2);
    --home-lets-start-title-text: var(--palette5);
    --home-lets-start-divider: var(--palette2);

    --nav-header-logout-background: var(--palette8);
    --nav-header-icon: var(--palette5);
    --nav-header-border: var(--palette2);
    --nav-footer-background: var(--palette7);
    --nav-footer-icon: var(--palette1);
    --nav-footer-text: var(--palette1);
    --tablet-nav-header-icon-background: var(--palette7);
    --tablet-nav-header-icon: var(--palette1);
    --mobile-nav-background: var(--palette2);
    --mobile-nav-divider-drawer: var(--palette3);
    --mobile-nav-header-background: var(--palette8);
    --mobile-nav-icon: var(--palette5);
    --mobile-nav-text: var(--palette5);
    
    --overlay-background: var(--palette5_transparent);

    --property-form-background: var(--palette1);
    --property-form-spinner-divider: var(--palette2);
    --property-form-icon-restore: var(--palette5);
    --property-field-background: var(--palette1);
    --property-field-hover-background: var(--palette8);
    --property-field-autofill-background: var(--palette1);
    --property-field-empty-border: var(--palette9);
    --property-field-label: var(--palette5);
    --property-field-text: var(--palette5);
    --property-field-input-disabled-text: var(--palette5);
    --property-field-hint: var(--palette5);
    --property-field-warning-icon: var(--palette9);
    --property-field-warning-text: var(--palette7);
    --property-media-upload-icon: var(--palette7);
    --property-media-close-icon: var(--palette6);
    --property-goto-results-icon: var(--palette5);
    --property-goto-results-background: var(--palette1);
    --property-goto-results-hover-background: var(--palette3_overlay);
    --mobile-property-menu-background: var(--palette8);
    --mobile-property-menu-border: var(--palette2);
    --mobile-property-menu-zoom-in: var(--palette7);
    --mobile-property-menu-zoom-out: var(--palette5);
    --mobile-property-menu-text: var(--palette5);
    --mobile-property-menu-text-selected: var(--palette7);
    --mobile-property-data-table-background: var(--palette8);
    
    --calculator-result-text: var(--palette7);
    --calculator-title: var(--palette5);
    --calculator-coming-soon: var(--palette7);
        
    --form-field-border: var(--palette2); 
    --form-field-label: var(--palette5);
    --form-field-input-text: var(--palette5);
    --form-field-input-disabled-text: var(--palette5);
    --form-field-input-background: var(--palette1);
    --form-field-input-border: var(--palette2);
    --form-field-error-border: var(--palette9);
    --form-field-error-text: var(--palette9);
    --form-field-message-text: var(--palette5);
    --form-field-button-background: var(--palette7);
    --form-field-button-text: var(--palette1);
    --form-field-button-disabled-background: var(--palette2);
    --form-field-button-disabled-text: var(--palette3);
    --form-field-button-link-text: var(--palette5);
    --form-field-tooltip-background: var(--palette7);
    
    --number-picker-icon: var(--palette4);
    --number-picker-icon-light: var(--palette3);

    --table-text: var(--palette5);
    --table-head-background: var(--palette8);
    --table-cell-background: var(--palette8);
    --table-cell-negative-text: var(--palette9);
    --table-border: var(--palette8); 
    --table-scrollbar-thumb-background: var(--palette8);
    --table-scrollbar-track-background: var(--palette8);
    --table-scrollbar-track-background-hover: var(--palette1);
    --table-scrollbar-track-border-hover: var(--palette1);

    --chart-background: var(--palette8);

    --loading-0: #f3f3f3;
    --loading-1: #f5f5f5;
    --loading-2: #f7f7f7;
    --loading-3: #fafafa;
    --loading-4: #fbfbfb;
    --loading-5: #fbfbfb;
    --loading-6: #fbfbfb;
    --loading-7: #fbfbfb;
    --loading-8: #fbfbfb;
    --loading-9: #fbfbfb;

    --dialog_title: var(--palette7);
    --dialog_text: var(--palette5);
    --dialog_background_no_internet: rgba(17, 97, 182, 0.05);
}


$header-height: 72px;
$footer-height: 72px;
$logo-width: 109px;
$logo-height: 40px;

/* responsive layout */
$layout-padding-mobile: 0;
$layout-padding-tablet: 20px;
$layout-padding-desktop: 20px;

$break-mobile: 767px;
$break-tablet: 768px;
$break-desktop: 1024px;

$padded-break-mobile: $break-mobile + $layout-padding-mobile * 2;        // screen <= 807px
$padded-break-tablet: $break-tablet + $layout-padding-tablet * 2;        // screen >  808px
$padded-break-desktop: $break-desktop + $layout-padding-desktop * 2;     // screen >= 1064px
