.form-field {
 
  color: rgb(0, 0, 0);
  margin: 15px 0;
  width: 100%;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--form-field-input-border);
  
  &.tooltip {
    width: calc(100% - 25px);
  }

  label {
      display: flex;
      height: 34px;
      position: relative;
      color: var(--form-field-label);
          
      span {
          color: var(--form-field-label);
          font-size: 0.75rem;
          right: 8px;
          line-height: 36px;
          position: absolute;
          transform-origin: left;
      }

      input {
          border: 0;
          border-radius: 8px;
          flex: 1 0 auto;
          padding: 9px 8px 7px;
          background: var(--form-field-input-background);
          color: var(--form-field-input-text);

          &:valid  {
              font-size: rem(12px);
              padding: 14px 8px 2px;
          
              & + span {
                  transform: scale(calc(10 / 12)) translateY(-10px) translateX(40px);
                  width: 200px;
                  text-align: right;
              }
          }

          &:focus-visible {
              outline: 0;
          }

          &[disabled] {
            color: var(--form-field-input-disabled-text);      
            cursor: not-allowed;       
            opacity: 0.6;     
            
            & + span {
              transform: scale(calc(10 / 12)) translateY(-10px) translateX(40px);
              width: 200px;
              text-align: right;
          }
        }
      }
  }

  .tooltip {
    position: absolute;
    top: 8px;
    left: -28px;
    color: var(--form-field-tooltip-background);
  }

  &.email {
    text-align: left;
    direction: ltr;
  }

  &.password {
    text-align: left;
    direction: ltr;

    svg {
      position: absolute;
      top: 15px;
      right: 13px;
    }
  }
  
  &.button {
    border: 0;
    background-color: transparent;
    text-align: center;
    width: fit-content;

    button {
      min-width: 75px;
      height: 40px;
      border-radius: 8px;
      border: 0;
      padding: 10px 20px;
      margin: 5px;
      background: var(--form-field-button-background);
      cursor: default;

      &:hover {
        span {
          transform: scale(105%);
        }
      }
    }

    &.disabled {
      button {
        background-color: var(--form-field-button-disabled-background);
        
        span {
          color: var(--form-field-button-disabled-text);
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }

    &.loading {
      button {   
        padding: 0px 20px;

        svg {
          width: 20px;
          height: 20px;
          margin-bottom: -4px;
          fill: var(--loading-light);
          animation-name: loading;
          animation-duration: .8s;
          animation-iteration-count: infinite;
          animation-timing-function: steps(8,end);  
        }
      }
    }

    &.link {
      button {
        background-color: transparent;
        width: auto;
        box-shadow: none;

        span {
          color: var(--form-field-button-link-text);
        }
      }
    }

    &.long {
      width: 100%;

      button {
        width: 100%;
        height: 47px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  &.error {
    border: 1px solid var(--form-field-error-border);
  }

  &-error {
    color: var(--form-field-error-text);
    font-size: 0.75rem;
  }

  &.checkbox {
    width: fit-content;
    margin: 20px 8px 0;
    border: 0;

    label {
      white-space: nowrap;
      height: unset;
      display: inline-block;

      span {
        font-size: 1rem;  
        transform: scale(0.8333333333) translateY(-10px) translateX(5px);
        position: absolute;
        top: 10px;
        line-height: 24px;
      }

      input {
        width: 20px;
        height: 20px;

        &:valid  {
          & + span {
            margin-right: 23px;          
              
          }
      }

        &:checked {
          
        }
      }

    }

    & ~ .form-field-error {
      color: var(--form-field-error-text);
      font-size: 0.75rem;
      top: 10px;
      position: relative;
      right: 10px;
      text-align: right;
    }
  }
 
  &.code {
    border: 0;
    direction: ltr;

    span {
      color: var(--form-field-label);
      display: block;
      direction: rtl;
      text-align: center;
      margin-bottom: 10px;
    }

    input {
      width: 50px;
      height: 50px;
      margin: 10px 11px;
      border: 1px solid var(--form-field-border);
      text-align: center;
      font-weight: lighter;
      font-size: 20px;
      color: var(--form-field-label);
      border-radius: 8px;
    }

    &.error {
      input {
        border: 1px solid var(--form-field-error-border);
      }
    }
  }

  &.dropdown {
    label {
      select {
        border: 0;
        border-radius: 8px;
        flex: 1 0 auto;
        padding: 9px 8px 7px;
        background: var(--form-field-input-background);
        color: var(--form-field-input-text);
        
        &:valid  {
            font-size: rem(12px);
            padding: 14px 8px 2px;
        
            & + span {
                transform: scale(calc(10 / 12)) translateY(-10px) translateX(40px);
                width: 200px;
                text-align: right;
            }
        }

        &:focus-visible {
            outline: 0;
        }
        
      }
    }

    &:has(select:valid option:not(:first-child):checked) label select {
      &:valid  {
        padding: 0 8px;
    
        & + span {
            display: none;
        }
      }
    }
  }

  &.textarea {
    height: 100px;
    
    label {
      textarea {
        border: 0;
        border-radius: 8px;
        flex: 1 0 auto;
        padding: 9px 8px 7px;
        background: var(--form-field-input-background);
        color: var(--form-field-input-text);
        height: 99px;
        
        &:invalid  {
            font-size: rem(12px);
            padding: 14px 8px 2px;
        
            & + span {
              transform: scale(calc(10 / 12)) translateY(-10px) translateX(40px);
              width: 200px;
              text-align: right;
            }
        }

        &:valid  {
          padding: 4px 8px;
      
          & + span {
              display: none;
          }
        }
    
      &:focus-visible {
            outline: 0;
        }
      }
    }
  }

  @include mobile-layout {
    & {
      label {
          height: 40px;
              
          span {
              font-size: rem(16px);
              line-height: 40px;
          }

          input {
              &:valid  {
                  font-size: rem(16px);
              }
          }
      }
      
      &.button {
        &.link {
          button {
            font-size: rem(18px);
          }
        }

        button {
          height: 48px;
          min-width: 100px;

          span {
            font-size: rem(16px);
          }
        }
      }

      &-error {
        font-size: rem(16px);
      }

      &.checkbox {
        margin-left: 0;
        margin-right: 0;

        label {
          span {
            font-size: rem(16px);
          }
        }
      }
    
      &.code {
        span {
          font-size: rem(18px);
        }
        input {
          width: 40px;
          font-size: rem(22px);
        }
      }

      &.dropdown {
        label {
          select {
            &:valid {
              font-size: rem(16px);
            }
          }
        }
      }

      &.textarea {
        label {
          textarea {
            font-size: rem(16px);
            height: 98px;
          }
        }
      }
    }
  }
}
