.form-field {
 
  color: rgb(0, 0, 0);
  margin: rem(15px) 0;
  width: 100%;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--form-field-input-border);
  
  &.tooltip {
    width: calc(100% - 25px);
    
    svg {
      width: rem(20px);
      height: rem(20px);
    }
  }

  label {
      display: flex;
      height: rem(34px);
      position: relative;
      color: var(--form-field-label);
          
      span {
          color: var(--form-field-label);
          font-size: rem(14px);
          right: 8px;
          line-height: rem-capped(36px, 42px);
          position: absolute;
          transform-origin: left;
      }

      input {
          border: 0;
          border-radius: 8px;
          flex: 1 0 auto;
          padding: rem(9px) rem(8px) rem(7px);
          background: var(--form-field-input-background);
          color: var(--form-field-input-text);
          font-size: rem(14px);
              
          &:valid  {
              padding: rem(14px) rem(8px) rem(2px);
          
              & + span {
                  transform: scale(calc(10 / 12)) translateY(-10px) translateX(40px);
                  width: 200px;
                  text-align: right;
                  white-space: nowrap;
              }
          }

          &:focus-visible {
              outline: 0;
          }

          &[disabled] {
            color: var(--form-field-input-disabled-text);      
            cursor: not-allowed;       
            opacity: 0.6;     
            
            & + span {
              transform: scale(calc(10 / 12)) translateY(-10px) translateX(40px);
              width: 200px;
              text-align: right;
          }
        }
      }
  }

  .tooltip {
    position: absolute;
    top: rem(8px);
    left: rem-capped-min(-28px, -22px);
    color: var(--form-field-tooltip-background);
  }

  &.email {
    text-align: left;
    direction: ltr;
  }

  &.password {
    text-align: left;
    direction: ltr;

    svg {
      position: absolute;
      top: rem-capped(15px, 20px);
      right: rem-capped(13px, 20px);
      width: rem(20px);
      height: rem(20px);
    }
  }
  
  &.button {
    border: 0;
    background-color: transparent;
    text-align: center;
    width: fit-content;

    button {
      min-width: 75px;
      height: rem-capped(40px, 54px);
      border-radius: 8px;
      border: 0;
      padding: 10px 20px;
      margin: 5px;
      background: var(--form-field-button-background);
      cursor: default;
      line-height: 28px;

      &:hover {
        span {
          transform: scale(105%);
        }
      }
    }

    &.disabled {
      button {
        background-color: var(--form-field-button-disabled-background);
        
        span {
          color: var(--form-field-button-disabled-text);
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }

    &.loading {
      button {   
        padding: 0px 20px;

        svg {
          width: 20px;
          height: 20px;
          margin-bottom: -4px;
          fill: var(--loading-light);
          animation-name: loading;
          animation-duration: .8s;
          animation-iteration-count: infinite;
          animation-timing-function: steps(8,end);  
        }
      }
    }

    &.link {
      button {
        background-color: transparent;
        width: auto;
        box-shadow: none;

        span {
          color: var(--form-field-button-link-text);
        }
      }
    }

    &.long {
      width: 100%;

      button {
        width: 100%;
        height: 47px;
        font-size: rem(18px);
        font-weight: bold;
      }
    }
  }

  &.error {
    border: 1px solid var(--form-field-error-border);
  }

  &-error {
    color: var(--form-field-error-text);
    font-size: rem(14px);
  }

  &.checkbox {
    width: fit-content;
    margin: 20px 8px 0;
    border: 0;

    label {
      white-space: nowrap;
      height: unset;
      display: inline-block;

      span {
        font-size: rem(16px);
        transform: scale(0.8333333333) translateY(-10px) translateX(5px);
        position: absolute;
        top: 5px;
        line-height: 24px;
      }

      input {
        width: rem(20px);
        height: rem(20px);

        &:valid  {
          & + span {
            margin-right: 23px;          
              
          }
      }

        &:checked {
          
        }
      }

    }

    & ~ .form-field-error {
      color: var(--form-field-error-text);
      font-size: rem(14px);
      top: 10px;
      position: relative;
      right: 10px;
      text-align: right;
    }
  }
 
  &.code {
    border: 0;
    direction: ltr;

    span {
      color: var(--form-field-label);
      display: block;
      direction: rtl;
      text-align: center;
      margin-bottom: 10px;
    }

    input {
      width: rem-capped(50px, 94px);
      height: rem-capped(50px, 94px);
      margin: 10px 11px;
      border: 1px solid var(--form-field-border);
      text-align: center;
      font-weight: lighter;
      font-size: rem(20px);
      color: var(--form-field-label);
      border-radius: 8px;
    }

    &.error {
      input {
        border: 1px solid var(--form-field-error-border);
      }
    }
  }

  &.dropdown {
    label {
      select {
        border: 0;
        border-radius: 8px;
        flex: 1 0 auto;
        padding: 9px 8px 7px;
        background: var(--form-field-input-background);
        color: var(--form-field-input-text);
        
        &:valid  {
            font-size: rem(14px);
            padding: 14px 8px 2px;
        
            & + span {
                transform: scale(calc(10 / 12)) translateY(-10px) translateX(40px);
                width: 200px;
                text-align: right;
            }
        }

        &:focus-visible {
            outline: 0;
        }
        
      }
    }

    &:has(select:valid option:not(:first-child):checked) label select {
      &:valid  {
        padding: 0 8px;
    
        & + span {
            display: none;
        }
      }
    }
  }

  &.textarea {
    height: 100px;
    
    label {
      textarea {
        border: 0;
        border-radius: 8px;
        flex: 1 0 auto;
        padding: 9px 8px 7px;
        background: var(--form-field-input-background);
        color: var(--form-field-input-text);
        height: 99px;
        
        &:invalid  {
            font-size: rem(14px);
            padding: 14px 8px 2px;
        
            & + span {
              transform: scale(calc(10 / 12)) translateY(-10px) translateX(40px);
              width: 200px;
              text-align: right;
            }
        }

        &:valid  {
          padding: 4px 8px;
      
          & + span {
              display: none;
          }
        }
    
      &:focus-visible {
            outline: 0;
        }
      }
    }
  }

  &.toggle {
    border: 0;

    & > label {
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        position: relative;

        input[type="checkbox"] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
            --tw-bg-opacity: 1;
        }

        & > div {
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
            --tw-bg-opacity: 1;
            border-radius: 9999px;
            border: 1px solid var(--toggle-off-border);
            background-color: var(--toggle-off-background);
            width: rem(44px);
            height: rem(24px);
            margin-left: rem(4px);

            & > div {
                transition-property: transform;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;
                --tw-bg-opacity: 1;
                border-radius: 9999px;
                width: rem(16px);
                height: rem(16px);
                top: rem(9px);
                left: rem(8px);
                right: unset;
                position: absolute;
                background-color: var(--toggle-off-circle);
            }
        }

        &.checked {
            & > div {
                border: 1px solid var(--toggle-on-border);
                background-color: var(--toggle-on-background);

                & > div {
                    --tw-translate-x: 1.25rem;
                    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                    background-color: var(--toggle-on-circle);
                    right: 0.30rem;
                    left: unset;
                }
            }
        }
    }

    & > span {
        top: rem(-7px);
        position: relative;
        font-size: rem(16px);
        margin-right: rem(4px);
    }
}



 /* @include tablet-layout {
    & {
      display: none;
    }
    .tooltip {display: none;
      svg {
        
      }
    }
  }*/

  @include mobile-layout {
    & {
      label {
          height: rem(40px);
              
          span {
              font-size: rem(16px);
              line-height: rem-capped(40px, 60px);
          }

          input {
              width: 100%;

              &:valid  {
                  font-size: rem(16px);
                  
                  & + span {
                    transform: scale(0.8333333333) translateY(-12px) translateX(40px);
                  }
              }
          }
      }
      
      &.button {
        &.link {
          button {
            font-size: rem(18px);
          }
        }

        &.disabled {
          svg {
            color: red;
          }
        }

        button {
          &.tablet-or-desktop { 
            display: none 
          }

          .mobile {
            display: inline-block;
          }

          height: 48px;
          min-width: 100px;

          span {
            font-size: rem(16px);
          }
        }
      }

      &-error {
        font-size: rem(16px);
      }

      &.checkbox {
        margin-left: 0;
        margin-right: 0;

        label {
          span {
            font-size: rem(16px);
          }
        }
      }
    
      &.code {
        span {
          font-size: rem(18px);
        }
        input {
          width: rem-capped(40px, 50px);
          height: rem-capped(40px, 5s0px);
          font-size: rem(22px);
        }
      }

      &.dropdown {
        label {
          select {
            &:valid {
              font-size: rem(16px);
            }
          }
        }
      }

      &.textarea {
        label {
          textarea {
            font-size: rem(16px);
            height: 98px;
          }
        }
      }

      &.password {
        svg {
          width: 1rem;
          height: 1rem;
          top: rem-capped(15px, 30px);
        }
      }
    }
  }
}


.android {
  .form-field {
    @include mobile-layout {
      label {
        input {
            &:valid  {
                & + span {
                  transform: scale(0.8333333333) translateY(-14px) translateX(40px);
                }
            }
        }
      }
    }
  }
}