header {
    box-shadow: 0px 4px 12px var(--container-border);

    &.logout {
        height: $header-height;
        background-color: var(--tablet-header-background);
        display: grid;  
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;

        .logo {
            grid-column: 1 / -1;
            display: grid;
            align-items: center;
            margin: auto 20px auto auto;
            height: 72px;
            
            img {
                height: $logo-height;
            }
        }
    }

    &:not(.logout) {
        height: $header-height;
        background-color: var(--nav-header-logout-background);
        border-bottom: 1px solid var(--nav-header-border);
        display: grid;  
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;

        .logo {
            grid-column: 2;
            display: flex;
            align-items: center;
            height: 72px;
            
            a {
                img {
                    height: $logo-height;
                }

                &:hover {
                    cursor: default;
                }
            }

            svg {
                color: var(--nav-header-icon);
                margin-left: 10px;
            }
        }

        nav {
            grid-column: 3;

            ul {    
                list-style: none;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start; 
                height: $header-height;
                margin: 0;
                padding: 0;

                li {
                    padding: 0 0 0 40px;

                    a {
                        align-items: center;
                        display: inline-flex;
                        margin-top: 2px;
                            
                        &:hover {
                            text-decoration: none;
                            cursor: default;

                            span, svg {
                                transform: scale(105%);
                            }
                        } 
                        
                        svg {
                            margin-left: 5px;
                            margin-top: 2px;
                            color: var(--nav-header-icon);
                        }
                    }

                    &.welcome {
                        a {
                            &:hover {
                                cursor: auto;
        
                                svg {
                                    transform: unset;
                                }
                            } 
                        }
                        
                    } 

                    &.logout {
                        margin-right: auto;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    @include desktop-layout {
        .mobile, .tablet { display: none }
        @include header-grid-template-columns('desktop');
    }

    @include tablet-layout {
        &:not(.logout) {
            .mobile, .desktop { display: none }
            @include header-grid-template-columns('tablet');
    
            grid-template-columns: unset;
            width: 64px;
            height: 100vh;
            background-color: var(--tablet-header-background);
            display: block;
            position: absolute;
    
            & {
                .logo {
                    margin: auto;
    
                    a {
                        height: 40px;
                        margin: 0 10px 0 0px;
                    }
                }
            }
    
            nav {
                display: flex;
                flex-direction: column;
                height: calc(100vh - 72px);
    
                ul {
                    display: block;
                    height: fit-content;
                        
                    li {
                        padding: 0;
                        width: 100%;
                        height: 44px;
                        padding: 0 0 0 10px;
    
                        a {
                            display: inline-grid;
                            height: 40px;
    
                            svg.css-1lrr7yx-MuiSvgIcon-root {
                                font-size: 25px;
                            }
    
                            & > span {
                                display: none;
                            }
    
                            .form-field.button button {
                                min-width: 40px;
                                width: 40px;
                                padding: 0;
    
                                span {
                                    font-size: 18px;
                                }
                            }
                        }
    
                        &.add-property {
                            height: 90px;
                            
                            a {
                                margin: 22px 6px;
                                width: auto;
                                height: auto;
                            }
                        }
    
                        &.version {
                            display: none;
                        }
    
                        &.logout {
                            a {
                                span {
                                    display: none;
                                }
                            }   
                        }
                    }
    
                    &.bottom {
                        margin-top: auto;
                        margin-bottom: 16px;
                    }
                }
            }
    
            &.narrowing {
                transition: width 0.3s ease-in-out;  
            }
    
            &.narrow, &.narrowing {
                width: 64px;
                
                .logo {
                    a {
                        img {
                            height: 40px;
                            width: 45px;
                        }
                    }
                }
    
                ul {
                    li {
                        a {
                            width: 30px;
                            height: 30px;
                            margin: 7px 17px;
                              
                            svg {
                                margin: auto 2px auto 5px;
                            }
    
                            &.active {
                                background-color: var(--tablet-nav-header-icon-background);
                                border-radius: 15px;
                                font-weight: normal;
    
                                svg {
                                    color: var(--tablet-nav-header-icon);
                                }
                            }
                        }
    
                        &.welcome {
                            text-align: center;
                            display: flex;
    
                            a {
                                span {
                                    display: none;
                                }
                            }
                        }
    
                        &.add-property {
                            a.active {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
    
            &.widing {
                transition: width 0.3s ease-in-out;  
            }
    
            &.wide, &.widing {
                width: 155px;
    
                .logo {
                    a {
                        img {
                            height: 40px;
                            width: 109px;
                            object-fit: cover;
                            object-position: right;
                        }
                    }
                }
    
                ul {
                    li {
                        a {
                            display: inline-flex;
                            width: 100%;
    
                            &.active {
                                background-color: var(--tablet-nav-header-icon-background);
                                color: var(--tablet-nav-header-icon);
                                border-top-left-radius: 8px;
                                border-bottom-left-radius: 8px;
                                font-weight: normal;
                                
                                svg {
                                    color: var(--tablet-nav-header-icon);
                                }
                            }
    
                            &:hover {
                                span, svg {
                                    transform: scale(100%);
                                }
                            } 
                            
                            & > svg {
                                width: 20px;
                                height: 20px;
                                margin: auto 10px auto 5px;
                            }
    
                            & > span {
                                display: block;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                margin-left: 5px;
                            }
                        }
    
                        &.welcome {
                            
                            a {
                                span {
                                    margin-top: -1px;
                                }
                            }  
                        }  

                        &.add-property {
                            a.active {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }

            &.wide {
                ul {
                    li {
                        &.add-property {
                            width: fit-content;
                            
                            a {
                                display: inline-flex;
                            
                                .form-field {
                                
                                    &.button {
                                        button {
                                            padding: 10px 20px;
                                            width: fit-content;
                                            
                                            span {
                                                font-size: 14px;
                                            }
                                        }
                                        
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        
    }

    @include mobile-layout {
        .tablet, .desktop, .tablet-or-desktop { display: none }
        @include header-grid-template-columns('mobile');
    
        height: 50px;

        &.logout {
            background-color: var(--nav-header-logout-background);
            .logo {
                margin: auto;

                img {
                    height: 60px;
                }
            }
        }

        &:not(.logout) {
            background-color: var(--mobile-nav-header-background);

            .logo {
                display: grid;
                grid-template-columns: 60px 1fr 60px;
                width: 100%;

                .menu {
                    grid-column: 1;
                    margin: auto;
                    font-size: 30px;
                }

                a, a img {
                    grid-column: 2;
                    margin: auto;
                    height: 60px;
                }

                .back {
                    grid-column: 3;
                    margin: auto;
                    font-size: 30px;
                }
            }

            nav {
                height: 100%;
                width: 70%;
                background-color: var(--mobile-nav-background);
                position: fixed;
                right: 0;
                top: 5px;
                z-index: 1000;
                margin-top: -5px;
                box-shadow: 0px 4px 12px var(--container-border);
    
                &.showing {
                    -webkit-animation: slide-from-right 0.3s forwards;
                    animation: slide-from-right 0.3s forwards;   
                    display: inline; 
                }
    
                &.hiding {
                    -webkit-animation: slide-to-right 0.3s forwards;
                    animation: slide-to-right 0.3s forwards;    
                }
    
                &.show {
                    display: inline;
                }
    
                &.showing, &.show {
                   box-shadow: 0 0 0 100vmax var(--palette5_transparent);
    
                    &::before {
                        content: '';
                    }
                }
    
                &.hide {
                    display: none;
                }
    
                ul {
                    display: inline;
                    
                    li {
                        margin: 20px;
                        padding: 0;
    
                        &.welcome {
                            svg {
                                margin-left: 5px;
                                width: 1.25em;
                                height: 1.25em;
                                margin-left: 8px;
                            }
    
                            span {
                                color: var(--mobile-nav-text);
                                font-size: 20px;
                            }
                        }
                        
                            &.logout {
                                margin-right: 20px;
                            }
                            
                        &:not(.add-property) {
                            a {
                                span {
                                    color: var(--mobile-nav-text);
                                    font-size: 20px;
                                }
        
                                svg {
                                    color: var(--mobile-nav-icon);
                                    width: 1.25em;
                                    height: 1.25em;
                                    margin-left: 8px;
                                }
                            }    
                        }
                    }
                
                    & > li {
                        display: flex;
                        align-items: center;
    
                        img {
                            width: $logo-width;
                            height: $logo-height;
                            margin-right: 10px;
                        }
    
                        &.divider {
                            border: 1px solid var(--mobile-nav-divider-drawer);
                        }
                    }
                }
            }
        }
    }
}