.property-field {
  display: flex;
  margin: rem(7px);

  span {
    color: var(--property-field-label);
    width: rem(87px);
    height: rem(030px);
    display: block;
    align-items: center;
    font-size: rem(15px);
    margin-right: rem(5px);

    &.bold {
      font-weight: bold;
    }

    & > span {
      margin-right: rem(5px);
      display: contents;
      /*background: linear-gradient(to left, #f69ec4, #f9dd94 100%);*/
      text-decoration: underline;

      /*&::after {
        border-bottom: 10px solid red;
      }*/
    }
  }
  
  .number-picker {
    display: flex;
    align-items: center;
  }
 
  input {
      width: rem(214px);
      height: rem(20px);
      padding: rem(5px) rem(8px);
      border: none;
      border-radius: 4px;
      font-size: rem(14px);
      color: var(--form-text);

      &[type=number]::-webkit-inner-spin-button, 
      &[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
        height: 2.0em; 
        width: 2.0em;  
      }

  }

  .number-picker {
      margin: 0;
      width: rem(105px);

      .input {
        input {
          width: rem(30px);
          text-align: center;
          padding: 0;
          height: rem(26px);
          background: transparent;
          margin: 0;
          font-size: rem(14px);
          border: 0;

          &:focus-visible {
            outline: 0;
          }
  
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
            width: 0;
          }  
  
          button {
            margin: 0 rem(5px);
            cursor: pointer; 
          }
  
          i {
            margin: 0 rem(2px);
            cursor: pointer;
          }
        }  
      }
      
      .actions {
        margin-left: rem(5px);
        svg {
          color: var(--number-picker-icon);
          margin: 0;

          &[data-testid=DoneIcon], &[data-testid=CloseIcon] {
            font-size: rem(15px);
            font-weight: bold;
          }
          &[data-testid=CloseIcon] {
            color: var(--number-picker-icon-light);
          }
        }
      }
  }

  &.number, &.auto-fill, &.calc, &.calc-editable, &.calc-total, &.string, &.searchable-dropdown, .percent {
    div {
      input {
        border: 1px solid var(--form-field-input-border);
        border-radius: 8px;
        flex: 1 0 auto;
        padding: rem(9px) rem(8px) rem(7px);
        background: var(--property-field-background);
        color: var(--property-field-text);

        width: rem(180px);
        height: rem(30px);
        margin: 0 rem(10px);
        direction: ltr;
        text-align: right;
      
        &::placeholder {
          color: var(--property-field-hint);
        }
  
        &:focus-visible {
          outline: -webkit-focus-ring-color auto 0;
        }
      }
    } 
  } 
  
  &.string {
    div {
      input {
        direction: rtl;
      }
    }
  }

  &.textarea {
    div {
      textarea {
        direction: rtl;
        border: 0;
        border-radius: 8px;
        flex: 1 0 auto;
        border: 1px solid var(--form-field-input-border);
        background: var(--property-field-background);
        color: var(--property-field-text);
        color: var(--form-field-input-text);
        width: rem(180px);
        max-width: rem(180px);
        min-height: rem(30px);
        height: rem(30px);
        margin: 0 rem(10px);
        padding: rem(7px) rem(8px);
        overflow: hidden;

        &:focus-visible {
          outline: 0;
        }
      }
    }
  }

  &.calc {
    div {
      input {
        &[disabled] {
          color: var(--property-field-input-disabled-text);      
          cursor: not-allowed;       
          opacity: 0.6;     
        }  
      }
    }
  }

  &.auto-fill, &.calc-editable, &.percent {
    div {
      display: flex;

      input  {
        background-color: var(--property-field-autofill-background);
        margin-left: 0;
      }

      &.rollback {
        svg  {
          color: var(--property-form-icon-restore);
          fill: var(--property-form-icon-restore);
        }
      }

      svg  {
        margin: auto 0;
        user-select: none;
        width: rem(16px);
        height: rem(16px);
        font-size: rem(20px);
      }
      
    }

    & > div {
      & > svg {
        margin: rem(3px) rem(6px) rem(3px) 0;
      }
      
    }

    &.fyi {
      svg {
        color: var(--property-field-info-icon);
        margin: rem(5px) 0;
        user-select: none;
        width: 1em;
        height: 1em;
        font-size: rem(20px);
      }
    }

    
  }

  &.calc-total {
    span {
      margin-top: rem(5px);
    }

    div {
      input  {
        background-color: transparent;
        border: 0;
        border-top: 1px solid var(--property-form-spinner-divider);
        border-radius: 0;
        margin-left: 0;
        margin-top: rem(5px);
        font-weight: bold;
      }
    }
  }

  &.dropdown {
    
    position: relative;
    
    .custom-dropdown {
        position: relative;
        width: rem(180px);
        height: rem(30px);
        margin: 0 rem(10px);
        direction: ltr;
        text-align: right;

        .dropdown-toggle {
            width: rem(180px);
            height: rem(30px);
            border: 1px solid var(--form-field-input-border);
            border-radius: 8px;
            background: var(--property-field-background);
            color: var(--property-field-text);
            cursor: default;
            text-align: right; 
            font-size: rem(14px);
            padding: rem(9px) rem(8px) rem(7px);

            svg {
              position: absolute;
              left: 5px; 
              top: 50%;
              transform: translateY(-50%);
            }
        }

        .dropdown-menu {
            @include container;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            border: 1px solid var(--form-field-input-border);
            background: var(--property-field-background);
            z-index: 1000;
            display: none; 
            list-style: none;
            margin: 0;
            font-size: rem(14px);
            
            li {
              padding: rem(10px);
              cursor: default;
  
              &:hover {
                  background: var(--property-field-hover-background);
                  margin-left: rem(-40px);
              }

              &:first-child {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
              }
              
              &:last-child {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
              }
            }
        }

        &.open { 
          .dropdown-menu {
            display: block;
          }
        }

        & > svg {
          margin: 5px 0;
          user-select: none;
          width: 1em;
          height: 1em;
          font-size: rem(20px);
          position: absolute;
          left: rem(-20px);
        }
    }

    &.searchable {
      .custom-dropdown {
        .dropdown-menu {
          input {
            top: rem(10px);
            left: 0;
            position: absolute;
            z-index: 1001;
            border: 1px solid var(--form-field-input-border);
            border-radius: 8px;
            flex: 1 0 auto;
            padding: rem(9px) rem(8px) rem(7px);
            background: var(--property-field-background);
            color: var(--property-field-text);
            width: rem(162px);
            height: rem(30px);
            margin: 0 rem(10px);
            direction: rtl;
            text-align: right;

            &:focus-visible {
              outline: 0;
            }
          }
        }
        
        ul {
          @include scrollbar;
    
          height: rem(180px);
          overflow-y: visible;
          overflow-x: hidden;
          list-style: none;
          margin-top: rem(40px);

          &::-webkit-scrollbar {
            width: 0;
          }

          li {
            &:first-child {
              &:hover {
                background: var(--property-field-background);
              }
            }
            
            &.suggested {
              font-weight: bold;
            }
          }
        }
        
      }
    }

    &.visual {
      .custom-dropdown {
          width: rem(300px);
          height: rem-capped(50px, 80px);

        .dropdown-toggle {
          font-size:rem(18px);
          height: 100%;
          width: 100%;
          padding: 0 rem(10px);

          svg {
            width: rem(28px);
            height: rem(28px);
          }
        }

        ul {
          @include scrollbar;
          box-sizing: border-box;
          height: rem(310px);
          overflow-y: visible;
          overflow-x: hidden;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          
          &::-webkit-scrollbar {
            width: 0;
          }

          li {
            @include inside-container;
            margin: rem(16px);
            height: rem(50px);
            width: calc(100% - rem(20px));
            box-sizing: border-box;
            display: flex;
            margin: rem(10px);
            align-items: center;
            direction: rtl;
           
            & > img {
              margin-left: rem(4px);
              width: rem(25px);
              height: fit-content;
            }

            & > div {
              width: 100%;
              
              & > span {
                &:nth-child(1) {
                  height: rem(30px);
                  width: 100%;
                  line-height: rem(30px);
                  font-size: rem(18px);
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis
                }

                &:nth-child(2) {
                  height: rem(30px);
                  width: 100%;
                  line-height: rem(30px);
                  font-size: rem(14px);
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis
                }
              }
            }

            &:hover {
              margin-left: rem(10px);
              
              div > span:nth-child(1) {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    &.beautified-multiple {
      display: inline-flex;

      .custom-dropdown {
        width: rem(300px);
        height: rem-capped(50px, 80px);

        .dropdown-toggle {
          font-size: rem(18px);
          height: 100%;
          width: 100%;
          padding: 0 rem(10px);

          svg {
            width: rem(28px);
            height: rem(28px);
          }
        }

        ul {
          @include scrollbar;
          box-sizing: border-box;
          height: rem(340px);
          overflow-y: visible;
          overflow-x: hidden;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          
          &::-webkit-scrollbar {
            width: 0;
          }

          li {
            @include inside-container;
            height: rem-capped(100px, 120px);
            width: calc(100% - rem(20px));
            box-sizing: border-box;
            display: grid;
            margin: rem(10px);
            align-items: center;
            direction: rtl;
            grid-template-columns: rem(26px) rem-capped(132px, 166px) 1fr;
            padding: 0 rem(10px);
          
            & > input {
              width: rem(20px);
              height: rem(20px);
              grid-column: 1;

              &:focus-visible {
                outline: 0;
              }
            }

            & > img {
              margin-right: rem(8px);
              margin-left: rem(8px);
              width: rem-capped(120px, 150px);
              height: rem-capped(80px, 100px);
              object-fit: cover;
              border-radius: 8px;
              flex-shrink: 0;
              grid-column: 2;
            }

            & > div {
              grid-column: 3;
              display: inline-grid;
              
              & > span {
                width: auto;

                &:nth-child(1) {
                  height: rem-capped(30px, 38px);
                  line-height: rem-capped(30px, 38px);
                  font-size: rem(18px);
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis
                }

                &:nth-child(2) {
                  height: rem(30px);
                  line-height: rem(30px);
                  font-size: rem(15px);
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis
                }
              }
            }

            &:hover {
              margin-left: rem(10px);
              
              div > span:nth-child(1) {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    &.basic-multiple {
      display: inline-flex;

      .custom-dropdown {
        
        .dropdown-toggle {
          font-size: rem(18px);
          height: 100%;
          width: 100%;
          padding: 0 rem(10px);

          span {
            width: auto;
          }

          svg {
            width: rem(28px);
            height: rem(28px);
          }
        }

        ul {
          @include scrollbar;
          box-sizing: border-box;
          overflow-y: visible;
          overflow-x: hidden;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          
          &::-webkit-scrollbar {
            width: 0;
          }

          li {
            @include inside-container;
            background-color: transparent;
            width: 100%;
            box-sizing: border-box;
            display: grid;
            margin: rem(10px) 0;
            align-items: center;
            direction: rtl;
            grid-template-columns: rem(26px) 1fr;
            padding: 0 rem(10px);
          
            & > input {
              width: rem(20px);
              height: rem(20px);
              grid-column: 1;

              &:focus-visible {
                outline: 0;
              }
            }

            & > div {
              grid-column: 2;
              display: inline-grid;
              
              & > span {
                width: auto;
                line-height: rem(30px);
                font-size: rem(14px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis
              }
            }

            &:hover {
              margin: rem(10px) 0;
              background-color: transparent;
            
              div > span {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  &.empty {
    div input, .custom-dropdown .dropdown-toggle {
      border-color: var(--property-field-empty-border);
    }
  }

  &.warning {
      /*span {
      width: rem(95px);
      padding: 0;
      margin: 0 5px 0 0;
    }*/

    div {
      display: flex;

      & > svg {
        color: var(--property-field-warning-icon);
        margin: rem(5px) rem(-10px) rem(5px) 0;
        user-select: none;
        width: 1em;
        height: 1em;
        font-size: rem(20px);
      }
    }
  }

  &.loading0 { input, span { animation: loading0-animation 3s infinite; } span { color: transparent; } }
  &.loading1 { input, span { animation: loading1-animation 3s infinite; } span { color: transparent; } }
  &.loading2 { input, span { animation: loading2-animation 3s infinite; } span { color: transparent; } }
  &.loading3 { input, span { animation: loading3-animation 3s infinite; } span { color: transparent; } }
  &.loading4 { input, span { animation: loading4-animation 3s infinite; } span { color: transparent; } }
  &.loading5 { select, span, .custom-dropdown .dropdown-toggle { animation: loading5-animation 3s infinite; color: transparent; } }
  &.loading6 { input, span, .custom-dropdown .dropdown-toggle { animation: loading6-animation 3s infinite; color: transparent; } }
  &.loading7 { input, span { animation: loading7-animation 3s infinite; } span { color: transparent; } }
  &.loading8 { textarea, span { animation: loading8-animation 3s infinite; resize: none; } span { color: transparent; } }
  
  @include tablet-layout {
    & {
      &.searchable-dropdown {
        div {
          ul {
            height: rem(140px);
          }
        }
      }
    }
  }

  @include mobile-layout {
    & {
      margin: rem(7px) 0;

      span {
        font-size: rem-capped(15px, 28px);
        width: rem-capped(87px, 170px);
        margin-right: 0;
      }
      
      .number-picker {
          /*width: rem(125px);
          .input {
            input {
              font-size: rem(14px);
            }  
          }*/
          
          .actions {
              svg {
                &[data-testid=DoneIcon], &[data-testid=CloseIcon] {
                  font-size: rem(18px);
                }
              }
          }
      }
    
      &.auto-fill, &.calc-editable, &.percent, &.calc, &.number, &.calc-total, &.string, &.textarea {
        & > div {
          width: calc(100vw - rem(85px) - 50px);
          margin: 0 10px 0 0;

          input, textarea {
            margin: 0;
            width: 100%;
            max-width: 100%;
            font-size: rem-capped(14px, 26px);
            padding: rem(9px) 8px rem(7px);
          }
        }
        
        &.roll-back, &.warning {
          & > div {
            input, textarea {
              width: calc(100% - rem(22px));
              max-width: calc(100% - rem(22px));
            }
          }
        }
      }

      &.calc-editable {
        div {
          svg {
            width: rem-capped(16px, 30px);
            height: rem-capped(16px, 30px);
            font-size: rem-capped(20px, 36px);
          }
        }
      }

      .number-picker {
        width: fit-content;

        .actions {
          margin-left: 10px;
        }

        .input {
          input {
            font-size: rem-capped(14px, 26px);
            width: rem(30px);
          }
        }
      }
    
      &.dropdown {
        .custom-dropdown {

          width: calc(100vw - rem(85px) - 50px);
          margin: 0 10px 0 0;
          
          .dropdown-toggle {
            font-size: rem-capped(14px, 26px);
            width: 100%;
          }

          .dropdown-menu {
              font-size: rem(16px);

              input {
                font-size: rem(16px);
              }

              li {
                padding: rem(8px);
              }
          }
  
          /*& > svg {
            font-size: rem(20px);
          }*/
        }
      }
    
      /*&.warning {
        div {
          & > svg {
            font-size: rem(20px);
          }
        }
      }*/
    }
  }
}

hr {
  border-top: 1px solid var(--property-form-spinner-divider);
  margin: rem(20px) rem(8px);
  &.loading9 { animation: loading9-animation 3s infinite; } 
}

h3 {
  padding: 0 rem(7px);
  font-size: rem(15px);
  font-weight: bold;

  &.loading0 { animation: loading0-animation 3s infinite; color: transparent; padding: 0; margin: 0 rem(7px); width: rem(100px); height: rem(18.4px); } 
}
