.property-field {
  display: flex;
  margin: 7px;

  span {
    color: var(--property-field-label);
    width: 87px;
    height: 30px;
    display: block;
    align-items: center;
    font-size: rem(15px);
    margin-right: 5px;

    &.bold {
      font-weight: bold;
    }

    & > span {
      margin-right: 5px;
      display: contents;
      background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
      text-decoration: underline;
      &::after {
        border-bottom: 10px solid red;
      }
    }
    
  }
  
  .number-picker {
    display: flex;
    align-items: center;
  }
 
  input {
      width: 214px;
      height: 20px;
      padding: 5px 8px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      color: var(--form-text);

      &[type=number]::-webkit-inner-spin-button, 
      &[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
        height: 2.0em; 
        width: 2.0em;  
      }

  }

  .number-picker {
      margin: 0;
      width: 105px;

      .input {
        input {
          width: 30px;
          text-align: center;
          padding: 0;
          height: 26px;
          background: transparent;
          margin: 0;
          font-size: 14px;

          &:focus-visible {
            outline: 0;
          }
  
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
            width: 0;
          }  
  
          button {
            margin: 0 5px;
            cursor: pointer; 
          }
  
          i {
            margin: 0 2px;
            cursor: pointer;
          }
        }  
      }
      
      .actions {
          svg {
            color: var(--number-picker-icon);
            margin: 0;

            &[data-testid=DoneIcon], &[data-testid=CloseIcon] {
              font-size: 15px;
              font-weight: bold;
            }
            &[data-testid=CloseIcon] {
              color: var(--number-picker-icon-light);
            }
          }
      }
  }

  &.number, &.auto-fill, &.calc, &.calc-editable, &.calc-total, &.string, &.searchable-dropdown, .percent {
    div {
      input {
        border: 1px solid var(--form-field-input-border);
        border-radius: 8px;
        flex: 1 0 auto;
        padding: 9px 8px 7px;
        background: var(--property-field-background);
        color: var(--property-field-text);

        width: 180px;
        height: 30px;
        margin: 0 10px;
        direction: ltr;
        text-align: right;
      
        &::placeholder {
          color: var(--property-field-hint);
        }
  
        &:focus-visible {
          outline: -webkit-focus-ring-color auto 0;
        }
      }
    } 
  } 
  
  &.string {
    div {
      input {
        direction: rtl;
      }
    }
  }

  &.calc {
    div {
      input {
        &[disabled] {
          color: var(--property-field-input-disabled-text);      
          cursor: not-allowed;       
          opacity: 0.6;     
        }  
      }
    }
  }

  &.auto-fill, &.calc-editable, &.percent {
    div {
      display: flex;

      input  {
        background-color: var(--property-field-autofill-background);
        margin-left: 0;
      }

      &.rollback {
        svg  {
          color: var(--property-form-icon-restore);
          fill: var(--property-form-icon-restore);
        }
      }

      svg  {
        margin: 5px;
        user-select: none;
        width: 1em;
        height: 1em;
        font-size: 20px;
      }

    }
  }

  &.calc-total {
    span {
      margin-top: 5px;
    }

    div {
      input  {
        background-color: transparent;
        border: 0;
        border-top: 1px solid var(--property-form-spinner-divider);
        border-radius: 0;
        margin-left: 0;
        margin-top: 5px;
        font-weight: bold;
      }
    }
  }

  &.dropdown {
    
    /*div {
      position: relative;

      select {
        border: 1px solid var(--form-field-input-border);
        border-radius: 8px;
        flex: 1 0 auto;
        padding: 9px 8px 7px;
        background: var(--property-field-background);
        color: var(--property-field-text);
        width: 180px;
        height: 30px;
        margin: 0 10px;
        padding: 0 8px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
        &::placeholder {
          color: var(--property-field-hint);
        }
  
        &:focus-visible {
          outline: -webkit-focus-ring-color auto 0;
        }
        
        option {
          list-style: none;
          border-bottom: 1px solid var(--property-form-spinner-divider);
          height: 33px;
          line-height: 33px;
  
          &:last-child {
            
          }
        }
      
      }

      &::after {
        content: "▼";
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        pointer-events: none; 
      }

      select:focus + &::after {
        content: "▲";
      }
  
      select:focus-within {
        border: 1px solid red;
      }

      
    }*/

    position: relative;
    
    .custom-dropdown {
        position: relative;
        width: 180px;
        height: 30px;
        margin: 0 10px;
        direction: ltr;
        text-align: right;

        .dropdown-toggle {
            width: 180px;
            height: 30px;
            border: 1px solid var(--form-field-input-border);
            border-radius: 8px;
            background: var(--property-field-background);
            color: var(--property-field-text);
            cursor: default;
            text-align: right; 

            svg {
              position: absolute;
              left: 5px; 
              top: 50%;
              transform: translateY(-50%);
            }
        }

        .dropdown-menu {
            @include container;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            border: 1px solid var(--form-field-input-border);
            background: var(--property-field-background);
            z-index: 1000;
            display: none; 
            list-style: none;
            margin: 0;
            font-size: 14px;
            
            li {
              padding: 10px;
              cursor: default;
  
              &:hover {
                  background: var(--property-field-hover-background);
                  margin-left: -40px;
              }

              &:first-child {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
              }
              
              &:last-child {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
              }
            }
        }

        &.open { 
          .dropdown-menu {
            display: block;
          }
        }

        & > svg {
          margin: 5px 0;
          user-select: none;
          width: 1em;
          height: 1em;
          font-size: 20px;
          position: absolute;
          left: -20px;
        }
    }

    &.searchable {
      .custom-dropdown {
        .dropdown-menu {
          input {
            top: 10px;
            left: 0;
            position: absolute;
            z-index: 1001;
            border: 1px solid var(--form-field-input-border);
            border-radius: 8px;
            flex: 1 0 auto;
            padding: 9px 8px 7px;
            background: var(--property-field-background);
            color: var(--property-field-text);
            width: 162px;
            height: 30px;
            margin: 0 10px;
            direction: rtl;
            text-align: right;

            &:focus-visible {
              outline: 0;
            }
          }
        }
        
        ul {
          @include scrollbar;
    
          height: 180px;
          overflow-y: visible;
          overflow-x: hidden;
          list-style: none;
          margin-top: 40px;

          &::-webkit-scrollbar {
            width: 0;
          }

          li {
            &:first-child {
              &:hover {
                background: var(--property-field-background);
              }
            }
            
            &.suggested {
              font-weight: bold;
            }
          }
        }
        
      }
    }
  }

  &.empty {
    div input, .custom-dropdown .dropdown-toggle {
      border-color: var(--property-field-empty-border);
    }
  }

  &.warning {
      /*span {
      width: 95px;
      padding: 0;
      margin: 0 5px 0 0;
    }*/

    div {
      display: flex;
      /*left: 9px;
      position: relative;

      input, select {
        margin-right: 0;
        color: var(--property-field-warning-text);
      }*/

      & > svg {
        color: var(--property-field-warning-icon);
        /*position: relative;
        top: 3px;
        left: 4px;*/
        margin: 5px -10px 5px 0;
        user-select: none;
        width: 1em;
        height: 1em;
        font-size: 20px;
      }
    }
  }

  &.loading0 { input, span { animation: loading0-animation 3s infinite; } span { color: transparent; } }
  &.loading1 { input, span { animation: loading1-animation 3s infinite; } span { color: transparent; } }
  &.loading2 { input, span { animation: loading2-animation 3s infinite; } span { color: transparent; } }
  &.loading3 { input, span { animation: loading3-animation 3s infinite; } span { color: transparent; } }
  &.loading4 { input, span { animation: loading4-animation 3s infinite; } span { color: transparent; } }
  &.loading5 { select, span, .custom-dropdown .dropdown-toggle { animation: loading5-animation 3s infinite; color: transparent; } }
  &.loading6 { input, span, .custom-dropdown .dropdown-toggle { animation: loading6-animation 3s infinite; color: transparent; } }
  &.loading7 { input, span { animation: loading7-animation 3s infinite; } span { color: transparent; } }
  
  @include tablet-layout {
    & {
      &.searchable-dropdown {
        div {
          ul {
            height: 140px;
          }
        }
      }
    }
  }

  @include mobile-layout {
    
  }
}

hr {
  border-top: 1px solid var(--property-form-spinner-divider);
  margin: 20px 8px;
  &.loading9 { animation: loading9-animation 3s infinite; } 
}

h3 {
  padding: 0 7px;
  font-size: rem(15px);
  font-weight: bold;

  &.loading0 { animation: loading0-animation 3s infinite; color: transparent; padding: 0; margin: 0 7px; width: 100px; height: 18.4px; } 
}
